openapi: 3.0.2
info:
  title: Ayla Cloud API
  description: The Ayla Cloud provides a REST Application Programming Interface (API)
    for ten services across five regions.
  version: "007"
servers:
- url: /
security:
- auth_token: []
tags:
  - name: A-Z
    description: All Services
  - name: Access Rules
    description: Datastream Service
  - name: Contacts
    description: User Service
  - name: Datapoints
    description: Device Service
  - name: Devices
    description: Device Service
  - name: Device Groups
    description: Device Service
  - name: Device Metadata
    description: Device Service
  - name: Gateways
    description: Device Service
  - name: Properties
    description: Device Service
  - name: Shares
    description: User Service
  - name: Schedules
    description: Device Service
  - name: Schedule Actions
    description: Device Service
  - name: Subscriptions
    description: Datastream Service
  - name: User Accounts
    description: User Service
paths:
  /api/v1/oemAccessRules:
    get:
      tags:
      - A-Z
      - Access Rules
      summary: getAccessRules
      description: This API returns an array of access rules associated with the caller's role(s). A DSS access rule permits members of a role to create DSS subscriptions associated with an oem model, device property, client type, and subscription type.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OemAccessRuleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Access Rules
      summary: createAccessRule
      description: This API creates a DSS access rule which permits members of the specified role to create DSS subscriptions associated with the specified oem model(s), device prop(s), client type, and subscription type.
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OemAccessRuleRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OemAccessRuleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://stream.aylanetworks.com
  /api/v1/oemAccessRules/{id}:
    get:
      tags:
      - A-Z
      - Access Rules
      summary: getAccessRule
      description: This API returns the specified access rule.
      parameters:
      - $ref: '#/components/parameters/pAccessRuleId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OemAccessRuleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    delete:
      tags:
      - A-Z
      - Access Rules
      summary: deleteAccessRule
      description: This API deletes the specified access rule.
      parameters:
      - $ref: '#/components/parameters/pAccessRuleId'
      responses:
        204:
          description: The access rule was successfully deleted.
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://stream.aylanetworks.com
  /api/v1/subscriptions.json:
    get:
      tags:
      - A-Z
      - Subscriptions
      summary: getSubscriptions
      description: This API returns an array of subscriptions associated with the
        caller.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Subscriptions
      summary: createSubscription
      description: This API creates a DSS subscription which includes a stream key
        requred by a client to open a WebSocket and listen for DSS events.
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://stream.aylanetworks.com
  /api/v1/subscriptions/{id}.json:
    get:
      tags:
      - A-Z
      - Subscriptions
      summary: getSubscription
      description: This API returns the specified subscription.
      parameters:
      - $ref: '#/components/parameters/pSubscriptionId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    delete:
      tags:
      - A-Z
      - Subscriptions
      summary: deleteSubscription
      description: This API deletes the specified subscription.
      parameters:
      - $ref: '#/components/parameters/pSubscriptionId'
      responses:
        204:
          description: The subscription was successfully deleted.
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://stream.aylanetworks.com
  /api/v1/token_sign_in:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: login
      description: This API authenticates an SSO application.
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              properties:
                app_id:
                  type: string
                  description: SSO application id from the Ayla Service.
                app_secret:
                  type: string
                  description: SSO application secret from the Ayla Service.
                token:
                  type: string
                  description: Token issued by the Identify Provider obtained during the initial phase of login.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResponse'
        401:
          description: Unauthorized
        404:
          description: appId or appSecret invalid
    servers:
    - url: https://user-dev.aylanetworks.com
  /apiv1/batch_datapoints:
    post:
      tags:
      - A-Z
      - Datapoints
      summary: createDatapoints
      description: This API creates one or more datapoints.
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              properties:
                batch_datapoints:
                  type: array
                  items:
                    properties:
                      dsn:
                        type: string
                      datapoint:
                        properties:
                          value:
                            type: string
                          metadata:
                            properties:
                              key1:
                                type: string
                              key2:
                                type: string
                      name:
                        type: string
      responses:
        201:
          description: Created
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices:
    get:
      tags:
      - A-Z
      - Devices
      summary: getDevices
      description: This API returns an array of devices registered to, or shared with, the caller. The **key** value in the Response Body is the unique device id, so use this value in calls to other operations that require a device **id** parameter.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Unauthorized
    post:
      tags:
      - A-Z
      - Devices
      summary: registerDevice
      description: This API registers the specified device to the caller.
      requestBody:
        description: The request body requires the device serial number (DSN).
        content:
          application/json:
            schema:
              properties:
                device:
                  properties:
                    dsn:
                      type: string
                      description: Unique device serial number.          
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Unauthorized
        404:
          description: Unable to find registrable device with user ID
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}:
    get:
      tags:
      - A-Z
      - Devices
      summary: getDevice
      description: This API returns the specified device if it is owned by, or shared with, the caller.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Devices
      summary: renameDevice
      description: This API renames a device.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevProdNameRequest'
      responses:
        200:
          description: OK
        400:
          description: Error
        401:
          description: Unauthorized
        404:
          description: Not Found
        405:
          description: Not allowed and/or not supported on this device
        422:
          description: Unprocessable Entity
    delete:
      tags:
      - A-Z
      - Devices
      summary: unregisterDevice
      description: Unregisters the specified device from the caller.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: The device was unregistered.
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/cmds/factory_reset:
    put:
      tags:
      - A-Z
      - Devices
      summary: factoryResetDevice
      description: sss.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/identify:
    put:
      tags:
      - A-Z
      - Gateways
      summary: identifyZigbeeNode
      description: This API is used only with Zigbee nodes. A command is sent to the specified Zigbee node with a turn-on for a defined time (in seconds). The update needs to identify one node among many nodes in a Zigbee gateway.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/locations:
    post:
      tags:
      - A-Z
      - Devices
      summary: updateDeviceLocation
      description: sss.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              properties:
                location:
                  properties:
                    lat:
                      type: number
                    long:
                      type: number
      responses:
        201:
          description: Device location updated.
          content:
            application/json:
              schema:
                properties:
                  location:
                    properties:
                      ap_ssid:
                        type: string
                      created_at:
                        type: string
                      device_id:
                        type: integer
                      id:
                        type: integer
                      ip:
                        type: string
                      lat:
                        type: number
                      locality:
                        type: string
                      long:
                        type: number
                      provider:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
                      wifi_scan:
                        type: string
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Location information invalid.
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/nodes:
    get:
      tags:
      - A-Z
      - Gateways
      summary: getNodes
      description: sss.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/properties:
    get:
      tags:
      - A-Z
      - Properties
      summary: getProperties
      description: This API returns all properties for a specified device.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      - name: names
        in: query
        description: Pattern format can be '%' marks before and/or after pattern. '%s' means select all properies ending with letter 's'. 's%' means select all properties beginning with letter 's'. '%input%' means select all properties with pattern 'input'.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/properties/{propertyName}:
    get:
      tags:
      - A-Z
      - Properties
      summary: getProperty
      description: This API returns the specified property.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      - $ref: '#/components/parameters/pPropertyName'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/registration_window:
    post:
      tags:
      - A-Z
      - Gateways
      summary: openRegistrationWindow
      description: This API opens and polls the registration window (only applies to Zigbee gateways).
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              properties:
                duration:
                  type: integer
                  description: Registration window duration.
                  default: 200
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/schedules:
    get:
      tags:
      - A-Z
      - Schedules
      summary: getSchedules
      description: This API returns an array of schedules for the specified device.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Schedules
      summary: createSchedule
      description: This API creates a schedule.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/schedules/find_by_name:
    get:
      tags:
      - A-Z
      - Schedules
      summary: getSchedule
      description: This API returns a schedule by name of the specified device.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      - name: name
        in: query
        description: Schedule name.
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{deviceId}/schedules/{scheduleId}:
    put:
      tags:
      - A-Z
      - Schedules
      summary: updateSchedule
      description: This API updates a schedule.
      parameters:
      - $ref: '#/components/parameters/pDeviceId'
      - $ref: '#/components/parameters/pScheduleId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/{dsn}/transfer:
    put:
      tags:
      - A-Z
      - Devices
      summary: transferRegistration
      description: sss.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/register:
    get:
      tags:
      - A-Z
      - Devices
      summary: getRegistrableDevice
      description: This API returns the registration candidate that matches the input
        parameters. If the DSN is passed, there must be an exact match. If multiple
        devices are found, only the most recently connected candidate is returned.
      parameters:
      - name: ip
        in: query
        description: Device IP Address.
        required: false
        style: form
        explode: false
        schema:
          type: string
          format: ipv4
      - name: dsn
        in: query
        description: Device Serial Number.
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: regType
        in: query
        description: Device Registration Type.
        required: false
        style: form
        explode: false
        schema:
          type: string
          enum: [AP-Mode, Button-Push, Display, Dsn, Node, None, Same-LAN]
      - name: time
        in: query
        description: Time in minutes.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          minimum: 0
          default: 5
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found (Unable to find registrable device)
        412:
          description: Precondition failed, Gateway Registration window is not open
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/devices/search:
    get:
      tags:
      - A-Z
      - Devices
      summary: searchDevices
      description: This API obtains details about devices that match the search criteria. The caller's right to view device information is based on ownership, device sharing, and/or role.
      parameters:
      - name: property_name
        in: query
        description: Device Property Name.
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: value
        in: query
        description: The value of the device property.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: oem_id
        in: query
        description: Oem Id.
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: oem_model
        in: query
        description: Oem Model.
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: is_forward_page
        in: query
        description: sss.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: match
        in: query
        description: sss.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: paginated
        in: query
        description: True means each response contains a subset of the full results.
        required: false
        style: form
        explode: false
        schema:
          type: boolean
      - name: page
        in: query
        description: One-based index into paginated results.
        required: false
        style: form
        explode: false
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        description: Number of records to return per page (max 100).
        required: false
        style: form
        explode: false
        schema:
          type: integer
          maximum: 100
      - name: search_by_property
        in: query
        description: sss.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  previous_page:
                    type: integer
                    description: sss
                  previous:
                    type: boolean
                    description: sss
                  next_page:
                    type: integer
                    description: sss
                  next:
                    type: boolean
                    description: sss
                  is_forward:
                    type: boolean
                    description: sss
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Authorization Required
        403:
          description: Forbidden
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}:
    get:
      tags:
      - A-Z
      - Devices
      summary: getDevice
      description: This API returns details of the specified device.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Authorization Required
        403:
          description: Forbidden
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Devices
      summary: renameDevice
      description: This API renames a device.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DevProdNameRequest'
      responses:
        200:
          description: OK
        400:
          description: Error
        401:
          description: Unauthorized
        404:
          description: Not Found
        405:
          description: Not allowed and/or not supported on this device
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/data:
    get:
      tags:
      - A-Z
      - Device Metadata
      summary: getDeviceMetadata
      description: This is the description.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - name: keys
        in: query
        description: Pattern format can be '%' marks before and/or after pattern. '%s' means select all data ending with letter 's'. 's%' means select all data beginning with letter 's'. '%input%' means select all data with pattern 'input'.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatumResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Device Metadata
      summary: createDeviceMetadatum
      description: This is the description.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatumRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatumResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Cannot parse request data.
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/data/{key}:
    get:
      tags:
      - A-Z
      - Device Metadata
      summary: getDeviceMetadatum
      description: This is the description.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - $ref: '#/components/parameters/pKey'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatumResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Device Metadata
      summary: updateDeviceMetadatum
      description: This is the description.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - $ref: '#/components/parameters/pKey'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatumRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatumResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    delete:
      tags:
      - A-Z
      - Device Metadata
      summary: deleteDeviceMetadatum
      description: This is the description.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - $ref: '#/components/parameters/pKey'
      responses:
        200:
          description: Successfully Deleted
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/properties:
    get:
      tags:
      - A-Z
      - Properties
      summary: getProperties
      description: This API returns all properties for a specified device.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - name: names
        in: query
        description: Pattern format can be '%' marks before and/or after pattern. '%s' means select all properies ending with letter 's'. 's%' means select all properties beginning with letter 's'. '%input%' means select all properties with pattern 'input'.
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/properties/{propertyName}:
    get:
      tags:
      - A-Z
      - Properties
      summary: getProperty
      description: This API returns the specified property.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - $ref: '#/components/parameters/pPropertyName'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/properties/{propertyName}/datapoints:
    post:
      tags:
      - A-Z
      - Datapoints
      summary: createDatapoint
      description: This API creates a datapoint for the specified property.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      - $ref: '#/components/parameters/pPropertyName'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatapointRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatapointResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/dsns/{dsn}/registered_nodes:
    get:
      tags:
      - A-Z
      - Gateways
      summary: getNodes
      description: This API returns an array of nodes for a gateway.
      parameters:
      - $ref: '#/components/parameters/pDsn'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        405:
          description: Method not allowed
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups:
    get:
      tags:
      - A-Z
      - Device Groups
      summary: getGroups
      description: This API returns an array of groups.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    group:
                      properties:
                        name:
                          type: string
                          description: Group Name.
                        key:
                          type: integer
                          description: Group Id.
                        device_count:
                          type: integer
                          description: Number of devices in group.
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Device Groups
      summary: createGroup
      description: This API creates a device group.
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
        500:
          description: Internal server error.
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups/{groupId}:
    get:
      tags:
      - A-Z
      - Device Groups
      summary: getGroup
      description: This API returns the specified group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Device Groups
      summary: renameGroup
      description: This API renames a group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              properties:
                group:
                  properties:
                    name:
                      type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        400:
          description: Error
        401:
          description: Unauthorized
        404:
          description: Not Found
        405:
          description: Not allowed and/or not supported on this device
        422:
          description: Unprocessable Entity
    delete:
      tags:
      - A-Z
      - Device Groups
      summary: deleteGroup
      description: This API deletes a group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      responses:
        200:
          description: Successfully Deleted
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups/{groupId}/devices:
    post:
      tags:
      - A-Z
      - Device Groups
      summary: addDeviceToGroup
      description: This API adds a device to a group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              properties:
                device_id:
                  type: integer
                  description: Device Id.
                  example: 0
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups/{groupId}/devices/{deviceId}:
    delete:
      tags:
      - A-Z
      - Device Groups
      summary: removeDeviceFromGroup
      description: This API removes a device from a group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      - $ref: '#/components/parameters/pDeviceId'
      responses:
        200:
          description: Successfully Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups/{groupId}/batched_datapoints:
    post:
      tags:
      - A-Z
      - Datapoints
      summary: updateDatapointsInGroup
      description: This API updates the values of one or more properties of one or more devices in the specified device group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              properties:
                devices:
                  properties:
                    device:
                      type: array
                      items: 
                        properties:
                          device_id:
                            type: integer
                          properties:
                            properties:
                              property:
                                type: array
                                items: 
                                  properties:
                                    prop_id:
                                      type: integer
                                    prop_value:
                                      type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DevPropValResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/groups/{groupId}/datapoints:
    get:
      tags:
      - A-Z
      - Datapoints
      summary: getDatapointsInGroup
      description: This API ...
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      - name: property_names[]
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    datapoints:
                      properties:
                        devices:
                          properties:
                            device:
                              type: array
                              items:
                                properties:
                                  id:
                                    type: integer
                                  properties:
                                    properties:
                                      property:
                                        type: array
                                        items: 
                                          properties:
                                            id:
                                              type: integer
                                            name:
                                              type: string
                                            value:
                                              type: string
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    post:
      tags:
      - A-Z
      - Datapoints
      summary: updateDatapointInGroup
      description: This API updates the values of single property in one or more devices in the specified device group.
      parameters:
      - $ref: '#/components/parameters/pGroupId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              properties:
                datapoints:
                  properties:
                    datapoint:
                      type: array
                      items: 
                        properties:
                          property_name:
                            type: string
                          value:
                            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DevPropValResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/properties/{propertyId}:
    get:
      tags:
      - A-Z
      - Properties
      summary: getProperty
      description: This API returns the specified property.
      parameters:
      - $ref: '#/components/parameters/pPropertyId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/properties/{propertyId}/datapoints:
    get:
      tags:
      - A-Z
      - Datapoints
      summary: getDatapoints
      description: This API returns datapoints for the specified property.
      parameters:
      - $ref: '#/components/parameters/pPropertyId'
      - name: per_page
        in: query
        description: Number of records to return per page (max 100).
        required: false
        style: form
        explode: false
        schema:
          type: integer
          maximum: 100
          default: 100
      - name: next
        in: query
        description: ID of last datapoint in current page (available in the <metadata> section of the previous response).
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: previous
        in: query
        description: ID of first datapoint in current page (available in the <metadata> section of the previous response).
        required: false
        style: form
        explode: false
        schema:
          type: string
      - name: is_forward_page
        in: query
        description: sss
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          default: true
      - name: paginated
        in: query
        description: sss
        required: false
        style: form
        explode: false
        schema:
          type: boolean
          default: true
      - name: limit
        in: query
        description: sss
        required: false
        style: form
        explode: false
        schema:
          type: integer
      - name: filter[created_at_since_date]
        in: query
        description: e.g. 2018-11-20T15:36:59Z
        schema:
          type: string
          format: date-time
      - name: filter[created_at_end_date]
        in: query
        description: e.g. 2018-11-20T15:36:59Z
        schema:
          type: string
          format: date-time
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Datapoints
      summary: createDatapoint
      description: This API creates a datapoint for the specified property.
      parameters:
      - $ref: '#/components/parameters/pPropertyId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatapointRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatapointResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/properties/{propertyId}/trigger_apps:
    get:
      tags:
      - A-Z
      - Properties
      summary: getPropertyTriggerApps
      description: This API returns trigger apps attached to the specified property.
      parameters:
      - $ref: '#/components/parameters/pPropertyId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TriggerAppResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedules/{scheduleId}:
    get:
      tags:
      - A-Z
      - Schedules
      summary: getSchedule
      description: This API returns the specified schedule.
      parameters:
      - $ref: '#/components/parameters/pScheduleId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Invalid parameters
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedules/{scheduleId}/clear:
    put:
      tags:
      - A-Z
      - Schedules
      summary: clearSchedule
      description: This API clears a schedule.
      parameters:
      - $ref: '#/components/parameters/pScheduleId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedules/{scheduleId}/schedule_actions:
    get:
      tags:
      - A-Z
      - Schedule Actions
      summary: getScheduleActions
      description: This API returns an array of schedule actions. 
      parameters:
      - $ref: '#/components/parameters/pScheduleId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleActionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Schedule Actions
      summary: createScheduleAction
      description: This API creates a schedule action.
      parameters:
      - $ref: '#/components/parameters/pScheduleId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleActionRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleActionResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        422:
          description: Unprocessable Entity
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedules/{scheduleId}/schedule_actions/find_by_name:
    get:
      tags:
      - A-Z
      - Schedule Actions
      summary: getScheduleAction
      description: This API returns a schedule action. 
      parameters:
      - $ref: '#/components/parameters/pScheduleId'
      - name: name
        in: query
        description: Schedule action name.
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleActionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedules/all/by_user:
    get:
      tags:
      - A-Z
      - Schedules
      summary: getSchedules
      description: This API returns schedules accessible by user.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduleResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /apiv1/schedule_actions/{scheduleActionId}:
    get:
      tags:
      - A-Z
      - Schedule Actions
      summary: getScheduleAction
      description: This API returns a schedule action.
      parameters:
      - $ref: '#/components/parameters/pScheduleActionId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleActionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Invalid parameters
    put:
      tags:
      - A-Z
      - Schedule Actions
      summary: updateScheduleAction
      description: This API updates a schedule action. 
      parameters:
      - $ref: '#/components/parameters/pScheduleActionId'
      requestBody:
        description: Click schema to view details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleActionRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleActionResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Invalid parameters
    delete:
      tags:
      - A-Z
      - Schedule Actions
      summary: deleteScheduleAction
      description: This API deletes a schedule action.
      parameters:
      - $ref: '#/components/parameters/pScheduleActionId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                properties:
                  schedule-action:
                    properties:
                      cmd:
                        type: string
                      key:
                        type: integer
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://ads-dev.aylanetworks.com
  /api/v1/users/contacts:
    get:
      tags:
      - A-Z
      - Contacts
      summary: getContacts
      description: This API returns an array of all contacts associated with the caller. 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Invalid parameters
    post:
      tags:
      - A-Z
      - Contacts
      summary: createContact
      description: This API creates a contact.
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    servers:
    - url: https://user-dev.aylanetworks.com
  /api/v1/users/contacts/{contactId}:
    get:
      tags:
      - A-Z
      - Contacts
      summary: getContact
      description: This API returns details about a contact.
      parameters:
      - $ref: '#/components/parameters/pContactId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Contacts
      summary: updateContact
      description: This API updates details for the contact.
      parameters:
      - $ref: '#/components/parameters/pContactId'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactResponse'
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        422:
          description: Unprocessable Entity
    delete:
      tags:
      - A-Z
      - Contacts
      summary: deleteContact
      description: This API deletes a contact.
      parameters:
      - $ref: '#/components/parameters/pContactId'
      responses:
        204:
          description: The contact was deleted.
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://user-dev.aylanetworks.com
  /api/v1/users/shares:
    get:
      tags:
      - A-Z
      - Shares
      summary: getShares
      description: This API returns an array of resources (e.g. devices, groups) shared by the caller.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    post:
      tags:
      - A-Z
      - Shares
      summary: createShare
      description: This API creates a shared resource.
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareResponse'
        400:
          description: Unprocessable JSON Request
        401:
          description: Unauthorized
        404:
          description: Resource already granted
        422:
          description: Invalid Parameter Supplied
    delete:
      tags:
      - A-Z
      - Shares
      summary: deleteShare
      description: This API unshares from userId the resource specified by resource_name and resource_id.
      parameters:
      - name: user_id
        in: query
        description: user_id in getShare response body.
        required: true
        style: form
        explode: false
        schema:
          type: integer
      - name: resource_name
        in: query
        description: resource_name in getShare response body.
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: resource_id
        in: query
        description: resource_id in getShare response body.
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        204:
          description: Success
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://user-dev.aylanetworks.com
  /api/v1/users/shares/{shareId}:
    get:
      tags:
      - A-Z
      - Shares
      summary: getShare
      description: This API ... 
      parameters:
      - $ref: '#/components/parameters/pShareId'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    put:
      tags:
      - A-Z
      - Shares
      summary: updateShare
      description: This API modifies an existing share.
      parameters:
      - $ref: '#/components/parameters/pShareId'
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareResponse'
        400:
          description: Unprocessable JSON Request
        401:
          description: Unauthorized
        404:
          description: Not Found
    delete:
      tags:
      - A-Z
      - Shares
      summary: deleteShare
      description: This API unshares the specified resource. 
      parameters:
      - $ref: '#/components/parameters/pShareId'
      responses:
        204:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://user-dev.aylanetworks.com
  /api/v1/users/shares/received:
    get:
      tags:
      - A-Z
      - Shares
      summary: getReceivedShares
      description: This API returns an array of resources shared with the user. 
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareResponse'
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://user-dev.aylanetworks.com
  /users:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: createUserAccount
      description: This API creates a user account in the Ayla Public Account.
      responses:
        201:
          description: Created
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        422:
          description: Unprocessable Entity
    put:
      tags:
      - A-Z
      - User Accounts
      summary: changePassword
      description: This API changes the password for the caller.
      responses:
        204:
          description: OK
        401:
          description: Unauthorized
        422:
          description: Unprocessable Entity
    delete:
      tags:
      - A-Z
      - User Accounts
      summary: deleteUserAccount
      description: Deletes the caller's user account.
      responses:
        204:
          description: No Content (Success)
        401:
          description: Unauthorized
        404:
          description: Not Found
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/confirmation:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: sendHowToConfirm
      description: This API ...
      responses:
        201:
          description: Created
        404:
          description: Failure
        422:
          description: Unprocessable Entity
    put:
      tags:
      - A-Z
      - User Accounts
      summary: confirmUserAccount
      description: This API ...
      responses:
        204:
          description: OK
        401:
          description: Unauthorized
        422:
          description: Unprocessable Entity
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/get_user_profile:
    get:
      tags:
      - A-Z
      - User Accounts
      summary: getUserProfile
      description: Returns information about the caller's user profile.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        401:
          description: Unauthorized
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/password:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: sendHowToReset
      description: This API ...
      responses:
        201:
          description: Created
        422:
          description: Unprocessable Entity
    put:
      tags:
      - A-Z
      - User Accounts
      summary: resetPassword
      description: This API ...
      responses:
        204:
          description: OK
        401:
          description: Unauthorized
        422:
          description: Unprocessable Entity
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/refresh_token:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: refreshToken
      description: This API ...
      responses:
        200:
          description: Success
        422:
          description: Unprocessable Entity
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/sign_in:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: login
      description: Returns an access_token and refresh_token that can be used in subsequent
        API calls.
      requestBody:
        description: This is the description.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInRequest'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignInResponse'
        401:
          description: Unauthorized
        404:
          description: The app_id and/or app_secret are invalid.
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/sign_out:
    post:
      tags:
      - A-Z
      - User Accounts
      summary: logout
      description: This API ...
      responses:
        200:
          description: Success
        422:
          description: Unprocessable Entity
    servers:
    - url: https://user-dev.aylanetworks.com
  /users/update_email:
    put:
      tags:
      - A-Z
      - User Accounts
      summary: updateEmail
      description: This API ...
      responses:
        204:
          description: OK
        401:
          description: Unauthorized
    servers:
    - url: https://user-dev.aylanetworks.com
components:
  schemas:
    ContactRequest:
      properties:
        display_name:
          type: string
          example: Jane Doe
        firstname:
          type: string
          example: Jane
        lastname:
          type: string
          example: Doe
        email:
          type: string
          example: jane.doe@acme.com
        phone_country_code:
          type: string
          description: E.164 Country Code. Leading + can be provided, but is removed when stored.
          example: "1"
        phone_number:
          type: string
          description: E.164 Subscriber Number. Only valid digits with a minimum of 6.
          example: "4085551212"
        street_address:
          type: string
          example: 123 Main Street
        zip_code:
          type: string
          example: "94122"
        country:
          type: string
          example: United States
        metadata:
          type: string
          example: Additional information
    ContactResponse:
      properties:
        contact:
          properties:
            id:
              type: integer
              description: Contact Id.
            display_name:
              type: string
              description: s
            firstname:
              type: string
              description: s
            lastname:
              type: string
              description: s
            email:
              type: string
              description: s
            phone_country_code:
              type: string
              description: s
            phone_number:
              type: string
              description: s
            street_address:
              type: string
              description: s
            zip_code:
              type: string
              description: s
            country:
              type: string
              description: s
            updated_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            metadata:
              type: string
              description: Additional information.
            sms_accept:
              type: string
              description: SMS accept.
            email_accept:
              type: string
              description: Email accept.
            notes:
              type: string
              description: Notes
            sms_notification:
              type: boolean
              description: SMS notification enabled.
            email_notification:
              type: boolean
              description: Email notification enabled.
            push_notification:
              type: boolean
              description: Push notification enabled.
            oem_models:
              type: array
              description: Oem model array.
              items:
                type: string
    DatapointRequest:
      properties:
        datapoint:
          properties:
            value:
              type: string
            metadata:
              properties:
                key1:
                  type: string
                key2:
                  type: string
    DatapointResponse:
      properties:
        datapoint:
          properties:
            created_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            updated_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            echo:
              type: boolean
            value:
              type: string
            metadata:
              properties:
                key1:
                  type: string
                key2:
                  type: string
    DatumRequest:
      properties:
        datum:
          properties:
            key:
              type: string
              description: This is the description.
            value:
              type: string
              description: This is the description.
    DatumResponse:
      properties:
        datum:
          properties:
            created_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            from_template:
              type: boolean
            key:
              type: string
              description: This is the description.
            updated_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            value:
              type: string
              description: This is the description.
            dsn:
              type: string
              description: This is the description.
    DeviceResponse:
      properties:
        device:
          properties:
            id:
              type: integer
              description: Device identifier.
            product_name:
              type: string
              description: Device user-friendly product name.
            model:
              type: string
              description: Model number of Ayla module.
            dsn:
              type: string
              description: Unique device serial number.
            oem:
              type: string
              description: OEM company manufacturer name.
            oem_model:
              type: string
              description: Model number of OEM host application board.
            sw_version:
              type: string
              description: Software version (associated with the device).
            user_id:
              type: string
              description: Ayla-asigned ID for the user (associated with the device).
            user_uuid:
              type: string
              description: Universally Unique Identifier for the user.
            template_id:
              type: integer
              description: Unique ID assigned to the template.
            mac:
              type: string
              description: IP MAC address of the device.
            ip:
              type: string
              description: IP address of the device.
            lan_ip:
              type: string
              description: LAN IP of the device.
            ssid:
              type: string
              description: SSID of the device.
            connected_at:
              type: string
              description: Device connected at (timestamp) (ISO8601 Format).
              format: date-time
            key:
              type: integer
              description: Device identifier.
            product_class:
              type: string
              description: Type of product (defined by OEM).
            has_properties:
              type: boolean
              description: Does device have properties?"
            lan_enabled:
              type: boolean
              description: Is device LAN enabled?"
            enable_ssl:
              type: boolean
              description: Is device SSL enabled?"
            ans_enabled:
              type: boolean
              description: Is device ANS enabled?"
            ans_server:
              type: string
              description: ANS notification server URL.
            log_enabled:
              type: boolean
              description: Is device LOG enabled?"
            registered:
              type: boolean
              description: Is device registered?"
            connection_status:
              type: string
              description: Device connection status ['Online', 'Offline', 'Initializing'].
            registration_type:
              type: string
              description: Type of registration ['Same-LAN', 'Button-Push', 'AP Model',
                'Display', 'Dsn', 'None'].
            lat:
              type: number
              description: Device location, latitude (in degrees).
              format: decimal (10,6)
            lng:
              type: number
              description: Device location, longitude (in degrees).
              format: decimal (10,6)
            locality:
              type: string
              description: Device locality.
            homekit:
              type: string
              description: Homekit info.
            module_updated_at:
              type: string
              description: Device module updated at (timestamp) (ISO8601 Format).
              format: date-time
            registrable:
              type: boolean
              description: Is device registrable?"
            regtoken:
              type: string
              description: Regtoken of the device.
            setup_token:
              type: string
              description: Setup token of the device.
            provisional:
              type: boolean
              description: Is device provisional?"
            device_type:
              type: string
              description: Type of device ['Wifi', 'Gateway', 'Node'].
            activated_at:
              type: string
              description: Device activated at (timestamp) (ISO8601 Format).
              format: date-time
            created_at:
              type: string
              description: Device created at (timestamp) (ISO8601 Format).
              format: date-time
            grant:
              properties:
                user-id:
                  type: integer
                start-date-at:
                  type: string
                  format: Date-time
                end-date-at:
                  type: string
                  format: Date-time
                operation:
                  type: string
            gateway-type:
              type: string
              description: Gateway type (only if device is a gateway).
    DevProdNameRequest:
      properties:
        device:
          properties:
            product_name:
              type: string
              description: Product Name.
    DevPropValResponse:
      properties:
        deviceId:
          type: integer
        propId:
          type: integer
        value:
          type: string
    GroupRequest:
      properties:
        group:
          properties:
            name:
              type: string
              description: Group Name.
            devices:
              properties:
                device_id:
                  type: array
                  description: Array of device Ids.
                  items:
                    type: integer
    GroupResponse:
      properties:
        group:
          properties:
            name:
              type: string
              description: Group Name.
            key:
              type: integer
              description: Group Id.
            device_count:
              type: integer
              description: Number of devices in group.
            devices:
              type: array
              description: Device Array.
              items:
                properties:
                  product_name:
                    type: string
                    description: Device user-friendly product name.
                  dsn:
                    type: string
                    description: Unique device serial number.
                  oem_model:
                    type: string
                    description: Model number of OEM host application board.
                  key:
                    type: integer
                    description: Device identifier.
                  product_class:
                    type: string
                    description: Type of product (defined by OEM).
                  connection_status:
                    type: string
                    description: Device connection status ['Online', 'Offline', 'Initializing'].
    PropertyResponse:
      properties:
        type:
          type: string
        name:
          type: string
        base_type:
          type: string
        read_only:
          type: boolean
        direction:
          type: string
        scope:
          type: string
        data_updated_at:
          type: string
        key:
          type: integer
        device_key:
          type: integer
        product_name:
          type: string
        track_only_changes:
          type: boolean
        display_name:
          type: string
        host_sw_version:
          type: boolean
        time_series:
          type: boolean
        derived:
          type: boolean
        app_type:
          type: string
        recipe:
          type: string
        value:
          type: string
        denied_roles:
          type: array
        ack_enabled:
          type: boolean
        retention_days:
          type: integer
        ack_status:
          type: integer
        ack_message:
          type: integer
        acked_at:
          type: string
    OemAccessRuleRequest:
      properties:
        role:
          type: string
          description: OEM::Admin, OEM::Staff, OEM::SupportEngineer, OEM::SupportManager
        oem_model:
          type: string
          description: \* or a comma-separated list of oem models
        property_name:
          type: string
          description: \* or a comma-separated list of property names
        client_type:
          type: string
          description: cloud or user_opt_in
        subscription_type:
          type: string
          description: connectivity, datapoint, datapointack, location, or registration
    OemAccessRuleResponse:
      properties:
        OemAccessRule:
          properties:
            id:
              type: integer
              description: Access rule identifier.
            role:
              type: string
              description: e.g. OEM::Admin.
            oem:
              type: string
              description: oem id.
            property_name:
              type: string
              description: name of device property.
            oem_model:
              type: string
              description: e.g. linuxevb
            client_type:
              type: string
              description: e.g. cloud
            subscription_type:
              type: string
              description: connectivity, datapoint, datapointack, location, registration
            access_grant:
              type: boolean
              description: true means grant access and false means revoke access
            created_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            updated_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
    ScheduleActionRequest:
      properties:
        schedule_action:
          properties:
            name:
              type: string
              description: Property name
              example: input
            type:
              type: string
            base_type:
              type: string
              description: Property value data type e.g. boolean, integer, etc.
              example: integer
            in_range:
              type: boolean
              example: false
            at_start:
              type: boolean
              example: true
            at_end:
              type: boolean
              example: false
            active:
              type: boolean
              example: true
            value:
              type: string
              example: 5
    ScheduleActionResponse:
      properties:
        schedule_action:
          properties:
            key:
              type: integer
              example: false
            name:
              type: string
              description: Property name
              example: input
            type:
              type: string
            base_type:
              type: string
              description: Property value data type e.g. boolean, integer, etc.
              example: integer
            in_range:
              type: boolean
              example: false
            at_start:
              type: boolean
              example: true
            at_end:
              type: boolean
              example: false
            active:
              type: boolean
              example: true
            value:
              type: string
              example: 5
    ScheduleRequest:
      properties:
        schedule:
          properties:
            active:
              type: boolean
              description: True means the schedule is active. False means inactive.
              default: true
            day_occur_of_month:
              type: array
              items:
                type: integer
              description: Array of numbers where, if day_of_week=1 (Monday), 1=first Monday, 2=second Monday. 6 means last occurence.
              example: []
            days_of_month:
              type: array
              items:
                type: integer
              description: Array of days-of-month numbers where 1=first day, 2=second day. [] means every day of month. 32 means last day of month.
              example: []
            days_of_week:
              type: array
              items:
                type: integer
              description: Array of weekday numbers where 1=Monday, 2=Tuesday. [] means every weekday.
              example: []
            direction:
              type: string
              description: input (To Device) or output (From Device)
              example: input
            display_name:
              type: string
              description: Name of schedule for UI displays.
            duration:
              type: integer
              description: Duration of scheduled event in seconds.
            end_date:
              type: string
              description: Date when schedule ends using yyyy-mm-dd.
              example: "2019-10-05"
            end_time_each_day:
              type: string
              description: End time in local time using 24-hour HH:mm:ss format.
              example: "17:00:00"
            fixed_actions:
              type: boolean
              example: false
            interval: 
              type: integer
              description: Interval between scheduled events in seconds.
            months_of_year:
              type: array
              items:
                type: integer
              description: Array of month numbers where 1=January, 2=February. [] means every month.
              example: []
            name:
              type: string
              description: Name of schedule.
              example: Schedule A
            start_date:
              type: string
              description: Date when schedule starts using yyyy-mm-dd.
              example: "2019-10-01"
            start_time_each_day:
              type: string
              description: Start time in local time using 24-hour HH:mm:ss format.
              example: "08:00:00"
            time_before_end:
              type: string
              description: Time before end in local time using 24-hour HH:mm:ss format.
              example: ""
            utc:
              type: boolean
              description: True means set schedule with UTC time zone.
            version:
              type: string
              description: Version of the schedule.
            schedule_actions:
              type: array
              items:
                properties:
                  name:
                    type: string
                    description: Property name
                    example: input
                  base_type:
                    type: string
                    description: Property value data type e.g. boolean, integer, etc.
                    example: integer
                  in_range:
                    type: boolean
                    example: false
                  at_start:
                    type: boolean
                    example: true
                  at_end:
                    type: boolean
                    example: false
                  active:
                    type: boolean
                    example: true
                  key:
                    type: integer
                    example: false
                  value:
                    type: string
                    example: 5
    ScheduleResponse:
      properties:
        schedule:
          properties:
            active:
              type: boolean
              description: True means the schedule is active. False means inactive.
              default: true
            day_occur_of_month:
              type: array
              items:
                type: integer
              description: Array of numbers where, if day_of_week=1 (Monday), 1=first Monday, 2=second Monday. 6 means last occurence.
              example: []
            days_of_month:
              type: array
              items:
                type: integer
              description: Array of days-of-month numbers where 1=first day, 2=second day. [] means every day of month. 32 means last day of month.
              example: []
            days_of_week:
              type: array
              items:
                type: integer
              description: Array of weekday numbers where 1=Monday, 2=Tuesday. [] means every weekday.
              example: []
            device_id:
              type: integer
              description: deviceId of device associated with the schedule.
            direction:
              type: string
              description: input (To Device) or output (From Device)
            display_name:
              type: string
              description: Name of schedule for UI displays.
            duration:
              type: integer
              description: Duration of scheduled event in seconds.
            end_date:
              type: string
              description: Date when schedule ends using yyyy-mm-dd.
            end_time_each_day: 
              type: string
              description: End time in local time using 24-hour HH:mm:ss format.
            fixed_actions:
              type: boolean
            interval: 
              type: integer
              description: Interval between scheduled events in seconds.
            months_of_year:
              type: array
              items:
                type: integer
              description: Array of month numbers where 1=January, 2=February. [] means every month.
              example: []
            name:
              type: string
              description: Name of schedule.
            start_date:
              type: string
              description: Date when schedule starts using yyyy-mm-dd.
            start_time_each_day:
              type: string
              description: Start time in local time using 24-hour HH:mm:ss format.
            time_before_end:
              type: string
              description: Time before end in local time using 24-hour HH:mm:ss format.
            utc:
              type: boolean
              description: True means set schedule with UTC time zone.
            version:
              type: string
              description: Version of the schedule.
            key:
              type: integer
              description: Unique schedule identifier.
            schedule_actions:
              type: array
              items:
                properties:
                  name:
                    type: string
                    description: Property name
                  base_type:
                    type: string
                    description: Property value data type e.g. boolean, integer, etc.
                  in_range:
                    type: boolean
                    example: false
                  at_start:
                    type: boolean
                    example: true
                  at_end:
                    type: boolean
                    example: false
                  active:
                    type: boolean
                    example: true
                  key:
                    type: integer
                    example: false
                  value:
                    type: string
    ShareRequest:
      properties:
        share:
          properties:
            resource_name:
              type: string
              description: Type of resource to share e.g. device, group
              example: device
            resource_id:
              type: string
              description: ID of resource to share. For devices, use DSN.
              example: AC000W001234567
            role_name:
              type: string
              description: Name or role with which to create a share.
              example: "OEM::Admin"
            user_email:
              type: string
              description: Email of the share recipient.
              example: sarah@acme.com
            operation:
              type: string
              description: Access available to the role (e.g. read, write)
              example: ""
            start_date_at:
              type: string
              format: date-time
              description: Date/time the share begins.
              example: ""
            end_date_at:
              type: string
              format: date-time
              description: Date/time the share ends.
              example: ""
            email_template_id:
              type: string
              description: Email template ID on which the email sent to the user is based.
              example: ""
    ShareResponse:
      properties:
        share:
          properties:
            accepted:
              type: boolean
            accepted_at:
              type: string
              format: date-time
            created_at:
              type: string
              format: date-time
            end_date_at:
              type: string
              format: date-time
              description: Date/time the share ends.
            grant_id:
              type: integer
            id:
              type: integer
            operation:
              type: string
            resource_id:
              type: string
              description: ID of resource to share. For devices, use DSN.
              example: AC000W001234567
            resource_name:
              type: string
              description: Type of resource to share e.g. device, group
              example: device
            start_date_at:
              type: string
              format: date-time
              description: Date/time the share begins.
            updated_at:
              type: string
              format: date-time
            user_id:
              type: string
            owner_profile:
              properties:
                firstname:
                  type: string
                lastname:
                  type: string
                email:
                  type: string
            user_email:
              type: string
            user_profile:
              properties:
                firstname:
                  type: string
                lastname:
                  type: string
                email:
                  type: string
            role:
              properties:
                name:
                  type: string
    SubscriptionRequest:
      properties:
        name:
          type: string
          description: User-chosen name of subscription.
        description:
          type: string
          description: Description of the DSS subscription.
        dsn:
          type: string
          description: \* or a comma-separated list of dsns. Required if oem_model == \*.
        oem_model:
          type: string
          description: \* or a comma-separated list of oem models
        property_name:
          type: string
          description: \* or a comma-separated list of property names
        client_type:
          type: string
          description: cloud or user_opt_in
        subscription_type:
          type: string
          description: connectivity, datapoint, datapointack, location, or registration
    SubscriptionResponse:
      properties:
        subscription:
          properties:
            id:
              type: integer
              description: Subscription identifier.
            oem:
              type: string
              description: oem id.
            dsn:
              type: string
              description: Specified in the request.
            name:
              type: string
              description: Specified in the request.
            description:
              type: string
              description: Specified in the request.
            property_name:
              type: string
              description: Specified in the request.
            connection_status:
              type: string
              description: Offline or Online.
            batch_size:
              type: string
              description: e.g. 1.
            is_suspended:
              type: boolean
              description: Whether the subscription is suspended.
            created_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            updated_at:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            date_suspended:
              type: string
              description: e.g. 2018-11-20T15:36:59Z
              format: date-time
            user_uuid:
              type: string
              description: User Id.
            oem_model:
              type: string
              description: Specified in the request.
            stream_key:
              type: string
              description: Use when instantiating a WebSocket.
            client_type:
              type: string
              description: Specified in the request.
            subscription_type:
              type: string
              description: Specified in the request.
    UserProfileResponse:
      properties:
        approved:
          type: boolean
          description: sss
        confirmed:
          type: boolean
          description: sss
        city:
          type: string
          description: sss
        company:
          type: string
          description: sss
        confirmed_at:
          type: string
          description: sss
          format: date-time
        country:
          type: string
          description: sss
        created_at:
          type: string
          description: sss
          format: date-time
        email:
          type: string
          description: sss
        firstname:
          type: string
          description: sss
        lastname:
          type: string
          description: sss
        phone_country_code:
          type: string
          description: sss
        phone:
          type: string
          description: sss
        state:
          type: string
          description: sss
        street:
          type: string
          description: sss
        updated_at:
          type: string
          description: sss
          format: date-time
        uuid:
          type: string
          description: sss
        zip:
          type: string
          description: sss
    SignInRequest:
      properties:
        user:
          properties:
            email:
              type: string
              description: sss
            password:
              type: string
              description: sss
            application:
              properties:
                app_id:
                  type: string
                  description: sss
                app_secret:
                  type: string
                  description: sss
    SignInResponse:
      properties:
        access_token:
          type: string
          description: Unique access token for user session.
        refresh_token:
          type: string
          description: Unique refresh token for user session.
        expires_in:
          type: integer
          description: Seconds in the future. 
          default: 86400
        role:
          type: string
          description: Role for the user.
        role_tags:
          type: array
          description: Role Tags are used to build a hierarchical RBAC.
          items:
            properties:
              namespace:
                type: string
                description: Namespace of the role tag.
              key:
                type: string
                description: Key of the key/value pair tag for the role.
              value:
                type: string
                description: Value of the key/value pair tag for the role.
    TriggerAppResponse:
      properties:
        trigger_app:
          properties:
            acceptance_at:
              type: string
              format: date-time
            acceptance_token:
              type: string
            accepted:
              type: string
            contact_id:
              type: string
            created_at:
              type: string
              format: date-time
            email_body_html:
              type: string
            email_subject:
              type: string
            email_template_id:
              type: integer
            id:
[...]
