body {padding-top: 5rem;}
.navbar-brand {font-size: 16px;}
h3 {font-size: 16px; font-weight: normal; color: darkorange;}
.collapsible:hover {color: red;cursor: pointer;}
#login-form, #logout-form {padding: 1.0rem 1.0rem 0 1.0rem;}
#login-required {font-size: 85%;}
label {font-weight: bold; font-size:85%;}

#subscription-history pre {
  background: #333333;
  padding: 6px;
  border: 1px solid #e6e6e6;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 11px;
}

.terminal {
  font-size: 90%; 
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  text-decoration: none;
}

.subscribe {color:blue;}
.unsubscribe {color:red;}

#error-msg {background: red;padding:12px;margin-bottom:16px;color:white;}
#error-msg span {padding-left: 16px;}
