body {padding-top: 5rem;}

.navbar {height:62px;}

.navbar-brand {font-size: 100%;}

h3 {font-size: 100%; font-weight: bold; color: black;}

.collapsible:hover {color: gray; cursor: pointer;}

label {font-weight: normal; font-size:90%; color: #b36200;}

#event-streams {padding:6px; height:160px;}

.event-stream {}

#events {padding:6px; min-height: 468px; max-height: 468px;}

.event {}

.event-stream label, 
.event div a {font-size: 95%; font-weight: normal; text-decoration: none; color: gray;}

.event-stream pre, 
.event pre {
  background: #333333;
  padding: 6px;
  border: none;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 85%;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  margin-bottom: 3px;
}
