html {height: 100%;} /* Enables h-100 to work. Without, must use 100vh */
body {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
}
h1 {font-size: 120%;margin-top: 24px;font-weight: bold;}
h2 {font-size: 110%;margin-top: 24px;font-weight: bold;}
h3 {font-size: 100%;margin-top: 24px;font-weight: bold;}
h4 {font-size: 100%;margin-top: 24px;}
h5 {font-size: 100%;margin-top: 24px;}
h6 {font-size: 100%;margin-top: 24px;}
p, th {color: #333333;}
a {color: steelblue;}
a:hover {color: #24435c;}
a, a:hover, a:focus {text-decoration: none;}
body:not(.tab-enabled) a:focus {outline: none;}

/******************************
header-nav
******************************/

#header-nav {
  min-height: 56px;
  z-index: 999;
}

#header-nav a img {
  padding: 0;
  margin: 0 12px 6px 0;
  width: 20px;
  height: 20px;
}

#header-nav div.navbar-nav a.active {text-decoration: underline;}

#header-nav a.navbar-brand {font-size: 1rem;}

@media (min-width: 576px) {
  #header-nav a.navbar-brand {font-size: 1.25rem;}
}

/******************************
The following styles hide/show sidebar & button and pagebar & button. They also
control widths and horizontal margins.

width-narrow
width-medium
width-full
has-sidebar
has-pagebar
******************************/

body:not(.has-sidebar) #sidebar-button {display: none;}
body.has-sidebar #sidebar-button {display: block;}

body:not(.has-pagebar) #pagebar-button {display: none;}
body.has-pagebar #pagebar-button {display: block;}

#core-frame {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 56px;
}

#core {
  width: 100%;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}

#core.width-narrow {max-width: 800px;}
#core.width-medium {max-width: 1060px;}
#core.width-full {max-width: 100%;}

#sidebar.collapse:not(.show) {display: none;}
#pagebar.collapse:not(.show) {display: none;}

/*** All pages ***/

@media (min-width: 992px) {
  #core {padding: 16px 20px;}
}

/*** Page with sidebar and no pagebar ***/

@media (min-width: 992px) {
  body.has-sidebar:not(.has-pagebar) #sidebar-button {display: none;}
  body.has-sidebar:not(.has-pagebar) #core-frame {margin-left: 250px;}
  body.has-sidebar:not(.has-pagebar) #core-frame {width: calc(100% - 250px);}
  body.has-sidebar:not(.has-pagebar) #sidebar.collapse:not(.show) {display: block;}
  body.has-sidebar:not(.has-pagebar) #core {margin-left: 0; max-width: 1060px;}
}

/*** Page with sidebar and pagebar ***/

@media (min-width: 992px) {
  body.has-sidebar.has-pagebar #pagebar-button {display: none;}
  body.has-sidebar.has-pagebar #core-frame {margin-right: 200px;}
  body.has-sidebar.has-pagebar #core-frame {width: calc(100% - 200px);}
  body.has-sidebar.has-pagebar #pagebar.collapse:not(.show) {display: block;}
}

@media (min-width: 1200px) {
  body.has-sidebar.has-pagebar #sidebar-button {display: none;}
  body.has-sidebar.has-pagebar #core-frame {margin-left: 250px;}
  body.has-sidebar.has-pagebar #core-frame {width: calc(100% - 450px);}
  body.has-sidebar.has-pagebar #sidebar.collapse:not(.show) {display: block;}
}

/******************************
sidebar
******************************/

#sidebar div.pages {margin-bottom: 6px;}

#sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100% - 56px);
  width: 249px;
  padding: 20px 8px 8px 8px;
  border-right-style: solid;
  border-right-width: 1px;
  overflow-y: auto;
  z-index: 998;
}

#sidebar.collapsing {
  transition: height 0s !important;
}

#sidebar a {
  display: block;
  padding: 4px 0px 4px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 20px);
  border-radius: 4px;
}

#sidebar a.title {
  margin-bottom: 12px;
  font-size: 95%;
  float: left;
  clear: left;
}

#sidebar a.chapter {
  font-size: 95%;
  font-weight: bold;
  float: left;
  clear: left;
  padding-left: 6px;
}

#sidebar a.page {
  padding-left: 6px;
  font-size: 88%;
  clear: both;
}

#sidebar img.title-icon,
img.chapter-icon {
  cursor: pointer;
  margin-top: 6px;
  width: 16px;
  height: 16px;
  float: right;
  clear: right;
}

.sidebar-version-container {
  background: white;
  text-align: center;
  padding: 0px;
  margin-top: 12px;
  width: calc(100% - 20px);
}

.sidebar-version-container select {
  border: 1px solid lightgray;
  width: 100%;
}

.title-version-span {
  margin-left: 6px;
}

.title-version-span select {
}

.version-select {
  background: white;
  border: none;
  line-height: 1.3;
  color: #333333;
  font-size: 92%;
}

/******************************
pagebar
******************************/

#pagebar ul li a[href="#core-title"] {color: black; font-weight: bold;}

#pagebar {
  position: fixed;
  top: 56px;
  right: 0;
  height: calc(100% - 56px);
  width: 199px;
  padding: 16px 4px 8px 4px;
  border-left-style: solid;
  border-left-width: 1px;
  overflow-y: auto;
  z-index: 997;
}

#pagebar.collapsing {
  transition: height 0s !important;
}

#pagebar div a.title {
  font-size: 85%;
}

#pagebar ul {
  list-style: none;
  padding-left: 0px !important;
  margin: 0px !important;
}

#pagebar li ul {
  list-style: none;
  padding-left: 12px !important;
}

#pagebar li a {
  display: block;
  padding: 2px 0px 2px 6px !important;
  border-radius: 4px;
}

#pagebar li {
  margin: 0px !important;
}

#pagebar li a {color: gray; font-size: 85%; cursor: pointer !important;}

/*
#pagebar li a:hover {color: black !important;}
#pagebar li a.active {color:black; font-weight: bold;}
*/

#pagebar li a:hover {background: #f2f2f2;}
#pagebar li a.active {color: #1a1a1a; background: #f9ebd2;}

#pagebar::-webkit-scrollbar {
  width: 0px !important;
}

#core ol, #core ul {padding-inline-start: 26px;}
#core ol ol, #core ul ul {padding-inline-start: 6px;}

@media (min-width: 768px) {
  #core ol ol, #core ul ul {padding-inline-start: 20px;}
}

/******************************

******************************/

#core-title-line {
  padding-top: 6px;
}
#core-title {
  font-weight: bold;
  font-size: 115%;
}
#version-string {
  margin-left: 18px;
  font-size: 90%;
  display: inline;
}
#core span.by-line {
  font-style: italic;
  font-size: 92%;
}

#core pre {
  background: #1a1a1a !important;
  color: white !important;
  border-style: none !important;
  padding: 6px;
  line-height: 1rem;
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 1rem;
}

#core pre code {
  color: white;
}

#core li pre {
  margin-top: 12px;
}

#core pre.numbered {
  counter-reset: line;
}
#core pre.numbered span.highlight {
  color: yellow;
}
#core pre.numbered span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #888;
  padding: 0 0.5em;
  margin-right: 0.5em;
  text-align: right;
  width: 30px;
  color: #888;
}
#core pre.numbered span.blank:before {
  counter-increment: none;
  content: " ";
}
#core pre.numbered span.n15:before {
  counter-increment: none;
  content: "15";
}
#core pre.numbered span.n16:before {
  counter-increment: none;
  content: "16";
}
#core pre.numbered span.n18:before {
  counter-increment: none;
  content: "18";
}
#core pre.numbered span.n36:before {
  counter-increment: none;
  content: "36";
}
#core pre.numbered span.n40:before {
  counter-increment: none;
  content: "40";
}
#core pre.numbered span.n41:before {
  counter-increment: none;
  content: "41";
}
#core pre.numbered span.n55:before {
  counter-increment: none;
  content: "55";
}
#core pre.numbered span.n56:before {
  counter-increment: none;
  content: "56";
}

#core .code-line td:nth-child(1) {
  white-space: nowrap;
  font-size: 92%;
}

#core .line {
  color: purple;
  font-weight: bold;
  font-size: 90%;
}

main li {
  margin-bottom: 4px;
  margin-top: 8px;
}
main ul.list-wrap {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  list-style-type: none;
  padding-inline-start: 20px !important;
}
main ul.list-wrap li {
  margin-top: 0 !important;
  font-size: 95%;
}

main ul.glossary {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 20px !important;
}

main ul.glossary li {
  margin: 0 !important;
  padding: 3px 0px;
}

#core table {
  width: auto;
  font-size: 95%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  display: table;
}
#core table,
#core table th,
#core td {
  border: 1px solid #dee2e6;
}
#core table th,
#core td {
  padding: 6px 8px;
  vertical-align: top;
}
#core table th {font-weight: bold;}
#core li table {margin-top: 12px;}
#core table.version-table div.dropdown button {
  padding-top: 0px;
  padding-bottom: 0px;
  color: steelblue;
}
#core table.version-table div.dropdown button:hover {text-decoration: none;}
#core table.version-table div.dropdown.show button {text-decoration: none !important;}
#core table.version-table div.dropdown a.dropdown-item {color: steelblue !important; font-size: 90% !important;}
#core table.version-table td {vertical-align: middle;}
#core table.version-table td:nth-child(2) {font-size: 92%; color: gray;}
#core form label {font-weight: bold; font-size: 90%;}

#core .heading-subtext {
  margin-left: 12px;
  font-size: 14px;
  font-weight: normal;
}

#core img {
  display: block;
  margin: 20px 0px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
#core li img {
  display: block;
  margin: 12px 0px 12px 0px;
}
#core iframe {
  display: block;
  margin: 20px 0px 20px 0px;
}

@media (min-width: 768px) {
  #core img {
    margin-left: 20px;
  }
}

#edit-icon img {
  display: inline !important;
  padding: 0 !important;
  margin: 0 0 4px 18px !important;
}

.tagline {font-size: 140%;}

#core div.related-content {
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 12px 18px;
  margin-bottom: 18px;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content; /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

#core div.related-content ul {
  margin-bottom: 3px;
}
#core div.related-content ul li {
  margin-bottom: 3px;
  margin-top: 3px;
}
#core div.related-content div.title {
  font-weight: normal;
  font-style: italic;
}
/*
#search-box:focus{
  border-color: #ced4da;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}
*/

#core ol ol li {list-style-type: lower-alpha;}
#core ol ol ol li {list-style-type: lower-roman;}

/******************************

******************************/

#core-title:before, 
#core h1:before, 
#core h2:before, 
#core h3:before, 
#core h4:before {
  display: block;
  content: " ";
  margin-top: -78px;
  height: 78px;
  visibility: hidden;
}

/******************************
footer
******************************/

footer {
  text-align: center;
  font-size: 94%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  z-index: 997;
}

@media (min-width: 0px) {
  footer.sidebar {
    width: 100%;
    margin-left: 0px !important;
  }
}

@media (min-width: 992px) {
  footer.sidebar {
    width: calc(100% - 250px);
    margin-left: 250px !important;
  }
}

/******************************
colors
******************************/

#header-nav {background: green;}
#header-nav a.nav-link {color: white;}
#sidebar {background: white; border-right-color: gainsboro;}
#sidebar a.chapter {color: black;}
#sidebar a.page {color: #737373;}
#sidebar a.title {background: #009900; color: white;} /* choice - 1 */
#sidebar a.title:hover {background: green;} /* choice */
#sidebar a.title.active {background: green;} /* choice */

/*
#sidebar a.chapter:hover, #sidebar a.page:hover {background: #f2f2f2;}
#sidebar a.chapter.active, #sidebar a.page.active {background: #f9ebd2;}
*/
#sidebar a.chapter:hover, #sidebar a.page:hover {background: #f2f2f2;}
#sidebar a.chapter.active, #sidebar a.page.active {background: #f9ebd2;}
#sidebar a.page.active {color: #1a1a1a;}

#pagebar {background: white;border-left-color: gainsboro;}
#core .tagline {font-weight: bold;}
#core-title {color: black;}
#core-title hr {border-color: gainsboro;}
#core h1 {color: black;}
#core h2 {color: #004d99;}
#core h3 {color: #3399ff;}
#core p {color: #4d4d4d;}
#core pre {background: #1a1a1a !important; color: white !important;}
#core code {color: #b36200;}
footer {background: #f5f5f5; color: white;}

#core button.btn-go,
#core input.btn-go {
  color: #fff;
  background-color: green;
  border-color: green;
}

#core .article-on-list {margin-bottom: 24px;}
#core .article-on-list .title {font-size: 115%; font-weight: bold;}
#core .article-on-list .author, #core .article-on-list .date {font-weight: bold;}

#core .tile {
  padding: 10px 18px;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px #d9d9d9;
}
#core .tile-title {
  font-weight: bold;
  font-size: 105%;
  margin-bottom: 6px;
}

#core .tile-link {margin-bottom: 3px;}

.ad-navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

/******************************
core-title color
******************************/
/*
#core-title {color: red;}

@media (min-width: 576px) {
  #core-title {color: purple;}
}

@media (min-width: 768px) {
  #core-title {color: green;}
}

@media (min-width: 992px) {
  #core-title {color: blue;}
}

@media (min-width: 1200px) {
  #core-title {color: black;}
}
*/

#login-form, #logout-form {padding: 0.7rem 1.0rem 0 1.0rem;}
/*
#account-link {display: inline-block; min-width: 40px;}
@media (min-width: 992px) {#account-link {text-align: right;}}
*/

table.developer-guides {
  box-shadow: 2px 2px #dae7f1;
}

table.developer-guides,
table.developer-guides th {
  border: 1px solid steelblue !important;
}

table.developer-guides td {
  border: 1px solid #dae7f1 !important;
}

table.developer-guides th {
  background: steelblue;
  color: white !important;
}

span.past {color:red;font-weight:bold;}
span.future {color:green;font-weight:bold;}
span.different {color:black;font-weight:bold;}

table.byte-table {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}

table.byte-table th {
  background-color: #dee2e6;
  vertical-align: middle;
}

table.byte-table th, table.byte-table td {
  font-size: 92%;
  text-align: center;
  white-space: nowrap;
}