form.api-workbench label {
  color: black;
  font-size: 14px !important;
  margin-bottom: 3px;
}

form.api-workbench div.edit-mode {display: none;}

#api-path-input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
}

div.btn-group.special {display: flex;}
div.btn-group.special .btn {flex: 1}
input.pos {text-align: center;}