/******************************************
 site
******************************************/

/*
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*/
body {
  /*font-family: "ProximaNova", "Helvetica Neue", "Helvetica", Roboto, Arial, sans-serif;*/
}


p, li {
  /*font-family: 'Poppins', sans-serif;*/
  font-size: 1.0em;
  font-weight: 400;
  line-height: 1.5em;
}

#content div.title {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
  display: block;
}

h1 {font-size: 1.50rem; margin-top: 2rem;}
h2 {font-size: 1.25rem; margin-top: 2rem;}
h3 {font-size: 1.00rem; margin-top: 2rem;}
h4 {font-size: 1.00rem;}
h5 {font-size: 1.00rem;}
h6 {font-size: 1.00rem;}

a, a:hover, a:focus {text-decoration: none;}

.container-fluid {padding-right: 0px; padding-left: 0px;}

/******************************************
 Colors
******************************************/

body {background: #ffffff;}
strong {color: #1a1a1a;}
p, li, #sidenav a {color: #1a1a1a;}
a {color: DodgerBlue;}
#sidenav ul > li > span {color: #333333;}
a:hover {color: #0059b3;}
#sidenav a:hover {color: red;}
#sidenav a.active {color: red;}

/******************************************
 menu
******************************************/

.navbar {
  padding: 10px 10px 10px 5px;
  margin-bottom: 0px;
}

/******************************************
 sidenav
******************************************/

.wrapper {
  display: flex;
  width: 100%;
}

#sidenav {
  width: 250px;
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  z-index: 999;
  padding: 10px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidenav li {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  list-style-position:inside; 
  font-size: 95%;
}

#sidenav ul {padding-left: 0px; list-style-type: none;}

#sidenav ul > li > ol {padding-left: 3px; /*list-style-type: "1";*/}
#sidenav ul > li > span:hover {cursor: pointer;}
#sidenav ul > li {margin-bottom: 9px;}
#sidenav ul > li > ol > li {line-height: 1.8em;}

#sidenav ul > li > a.active,
#sidenav ul > li > ol > li > a.active {font-weight: bold;}

.nav-icon {padding-right: 3px; padding-bottom: 5px; width: 20px;}

#sidenav.devices ul li span,
#sidenav.cloud ul li span,
#sidenav.apps ul li span {font-weight: bold;}

/******************************************
 content
******************************************/

#content {
  width: calc(100% - 250px);
}

#content {
  padding: 10px 40px;
  min-height: calc(100% - 60px);
  transition: all 0.3s;
  position: absolute;
  top: 60px;
  right: 0;
}

#content.home {
  width: 100%;
  padding: 30px 40px;
}

#content.feedback {
  width: 100%;
  padding: 10px 15%;
}

#content.home img,
#content.home iframe,
#content.feedback img
 {margin-bottom: 12px;}

#content.home h3, #content.feedback h3 {margin-top: 0px;}

#content.active {
  width: 100%;
}

#content li {margin-bottom: 6px;}

#content pre {
  background: #f2f2f2;
  padding: 6px;
  border: 1px solid #e6e6e6;
}

label {font-weight: bold; font-size: 90%;}
/******************************************
 tables
******************************************/

#content table {
  width: auto;
}

#content table tr, #content table th, #content table td {
}

#content table, #content th, #content td {
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 6px 6px;
  vertical-align:top;
}

#content table th {background: #e6e6e6; font-weight: normal;}

#content table .center {text-align: center;}

#content .note {padding: 12px; margin: 24px 0px; background: linen;}

/******************************************
 img
******************************************/

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

#content figure.figure {margin: 30px 0px;}

#content div.image {margin: 30px 30px;}

/******************************************
 media
******************************************/

@media (max-width: 1200px) {
  #content.feedback {
    padding: 10px 10%;
  }
}

@media (max-width: 1000px) {
  #content.feedback {
    padding: 10px 6%;
  }
}

@media (min-width: 768px) {
  #sidenavCollapse {display:none;}
}

@media (max-width: 768px) {
  #sidenav {margin-left: -250px;}
  #sidenav.active {margin-left: 0; background: whitesmoke;}
  #content, #content.home {width: 100%; padding: 6px 6px;}
  #sidenavCollapse {display:block;}
  .navbar-brand img {display:none;}
  .navbar-brand {margin: 0 auto;}
  .ml-auto, .mx-auto {margin-left: 0 !important;}
}

.mr-sm-2, .mx-sm-2 {margin-right: 0rem!important;}

