<nav id="sidenav" class="apps">
<ul>
<li id="amap-android"><span>AMAP for Android</span>
<ol style="display:{{amap-android}};">
<li id="amap-android-overview"><a href="/content/apps/amap-android/overview.html">Overview</a></li>
</ol>
</li>
<li id="amap-ios"><span>AMAP for iOS</span>
<ol style="display:{{amap-ios}};">
<li id="amap-ios-overview"><a href="/content/apps/amap-ios/overview.html">Overview</a></li>
<li id="amap-ios-getting-started"><a href="/content/apps/amap-ios/getting-started.html">Getting started</a></li>
<li id="amap-ios-project-information"><a href="/content/apps/amap-ios/project-information.html">Project Information</a></li>
<li id="amap-ios-releases"><a href="/content/apps/amap-ios/releases.html">Releases</a></li>
</ol>
</li>
</ul>
</nav>
