<nav id="sidenav" class="devices">
<ul>
<li><span>Ayla Design Kit Guide</span>
<ol style="display:{{pm}};">
<li id="devices-adk-overview"><a href="/content/devices/adk/overview.html">Overview</a></li>
<li id="devices-adk-setup"><a href="/content/devices/adk/setup.html">Setup</a></li>
<li id="devices-adk-experiments"><a href="/content/devices/adk/experiments.html">Experiments</a></li>
<li id="devices-adk-ide"><a href="/content/devices/adk/ide.html">IDE</a></li>
<li id="devices-adk-host-applications"><a href="/content/devices/adk/host-applications.html">Host applications</a></li>
<li id="devices-adk-debugging"><a href="/content/devices/adk/debugging.html">Debugging</a></li>
<li id="devices-adk-properties"><a href="/content/devices/adk/properties.html">Properties</a></li>
<li id="devices-adk-templates"><a href="/content/devices/adk/templates.html">Templates</a></li>
<li id="devices-adk-schedules"><a href="/content/devices/adk/schedules.html">Schedules</a></li>
<li id="devices-adk-metadata"><a href="/content/devices/adk/metadata.html">Metadata</a></li>
<li id="devices-adk-file-properties"><a href="/content/devices/adk/file-properties.html">File properties</a></li>
<li id="devices-adk-synchronization"><a href="/content/devices/adk/synchronization.html">Synchronization</a></li>
<li id="devices-adk-boot-loaders"><a href="/content/devices/adk/boot-loaders.html">Boot loaders</a></li>
<li id="devices-adk-ota-updates"><a href="/content/devices/adk/ota-updates.html">OTA updates</a></li>
<li id="devices-adk-oem-accounts"><a href="/content/devices/adk/oem-accounts.html">OEM accounts</a></li>
<li id="devices-adk-porting"><a href="/content/devices/adk/porting.html">Porting</a></li>
</ol>
</li>
<li><span>Software Agents</span>
<ol style="display:{{sa}};">
<li id="devices-sa-overview"><a href="/content/devices/sa/overview.html">Overview</a></li>
<li id="devices-sa-red"><a href="/content/devices/sa/red.html">Red</a></li>
<li id="devices-sa-white"><a href="/content/devices/sa/white.html">White</a></li>
<li id="devices-sa-yellow"><a href="/content/devices/sa/yellow.html">Yellow</a></li>
</ol>
</li>
<li><span>Gateway Agents</span>
<ol style="display:{{ga}};">
<li id="devices-ga-overview"><a href="/content/devices/ga/overview.html">Overview</a></li> 
<li id="devices-ga-red"><a href="/content/devices/ga/red.html">Red</a></li>
<li id="devices-ga-white"><a href="/content/devices/ga/white.html">White</a></li>
<li id="devices-ga-yellow"><a href="/content/devices/ga/yellow.html">Yellow</a></li>
</ol>
</li>
</ul>
</nav>
