<nav id="sidenav" class="devices">
<ul>
<li><span>Ayla Design Kit</span>
<ol style="display:{{adk}};">
<li id="devices-adk-introduction"><a href="/content/devices/adk/introduction.html">Introduction</a></li>
<li id="devices-adk-platform"><a href="/content/devices/adk/platform.html">Platform</a></li>
<li id="devices-adk-setup"><a href="/content/devices/adk/setup.html">Setup</a></li>
<li id="devices-adk-experiments"><a href="/content/devices/adk/experiments.html">Experiments</a></li>
<li id="devices-adk-ide"><a href="/content/devices/adk/ide.html">IDE</a></li>
<li id="devices-adk-host-applications"><a href="/content/devices/adk/host-applications.html">Host applications</a></li>
<li id="devices-adk-debugging"><a href="/content/devices/adk/debugging.html">Debugging</a></li>
<li id="devices-adk-properties"><a href="/content/devices/adk/properties.html">Properties</a></li>
<li id="devices-adk-templates"><a href="/content/devices/adk/templates.html">Templates</a></li>
<li id="devices-adk-schedules"><a href="/content/devices/adk/schedules.html">Schedules</a></li>
<li id="devices-adk-metadata"><a href="/content/devices/adk/metadata.html">Metadata</a></li>
<li id="devices-adk-file-properties"><a href="/content/devices/adk/file-properties.html">File properties</a></li>
<li id="devices-adk-synchronization"><a href="/content/devices/adk/synchronization.html">Synchronization</a></li>
<li id="devices-adk-boot-loaders"><a href="/content/devices/adk/boot-loaders.html">Boot loaders</a></li>
<li id="devices-adk-ota-updates"><a href="/content/devices/adk/ota-updates.html">OTA updates</a></li>
<li id="devices-adk-oem-accounts"><a href="/content/devices/adk/oem-accounts.html">OEM accounts</a></li>
<li id="devices-adk-porting"><a href="/content/devices/adk/porting.html">Porting</a></li>
</ol>
</li>
<li><span>Ayla Design Kit v2</span>
<ol style="display:{{adk2}};">
<li id="devices-adk2-introduction"><a href="/content/devices/adk2/introduction.html">Introduction</a></li> 
<li id="devices-adk2-red"><a href="/content/devices/adk2/red.html">Red</a></li>
<li id="devices-adk2-white"><a href="/content/devices/adk2/white.html">White</a></li>
<li id="devices-adk2-yellow"><a href="/content/devices/adk2/yellow.html">Yellow</a></li>
</ol>
</li>
<li><span>Ayla Linux Agent</span>
<ol style="display:{{ala}};">
<li id="devices-ala-introduction"><a href="/content/devices/ala/introduction.html">Introduction</a></li> 
<li id="devices-ala-red"><a href="/content/devices/ala/red.html">Red</a></li>
<li id="devices-ala-white"><a href="/content/devices/ala/white.html">White</a></li>
<li id="devices-ala-yellow"><a href="/content/devices/ala/yellow.html">Yellow</a></li>
</ol>
</li>
<li><span>Ayla Dynamic Gateway Agent</span>
<ol style="display:{{adga}};">
<li id="devices-adga-introduction"><a href="/content/devices/adga/introduction.html">Introduction</a></li>
<li id="devices-adga-red"><a href="/content/devices/adga/red.html">Red</a></li>
<li id="devices-adga-white"><a href="/content/devices/adga/white.html">White</a></li>
<li id="devices-adga-yellow"><a href="/content/devices/adga/yellow.html">Yellow</a></li>
</ol>
</li>
<li><span>Ayla Static Gateway Agent</span>
<ol style="display:{{asga}};">
<li id="devices-asga-introduction"><a href="/content/devices/asga/introduction.html">Introduction</a></li>
<li id="devices-asga-red"><a href="/content/devices/asga/red.html">Red</a></li>
<li id="devices-asga-white"><a href="/content/devices/asga/white.html">White</a></li>
<li id="devices-asga-yellow"><a href="/content/devices/asga/yellow.html">Yellow</a></li>
</ol>
</li>
</ul>
</nav>
