<nav id="sidenav" class="devices">
<ul>
<li><span>Production Modules</span>
<ol style="display:{{pm}};">
<li id="devices-pm-overview"><a href="/content/devices/pm/overview.html">Overview</a></li>
<li id="devices-pm-design-kit"><a href="/content/devices/pm/design-kit.html">Design Kit</a></li>
<li id="devices-pm-experiments"><a href="/content/devices/pm/experiments.html">Experiments</a></li>
<li id="devices-pm-ide"><a href="/content/devices/pm/ide.html">IDE</a></li>
<li id="devices-pm-host-applications"><a href="/content/devices/pm/host-applications.html">Host applications</a></li>
<li id="devices-pm-debugging"><a href="/content/devices/pm/debugging.html">Debugging</a></li>
<li id="devices-pm-properties"><a href="/content/devices/pm/properties.html">Properties</a></li>
<li id="devices-pm-templates"><a href="/content/devices/pm/templates.html">Templates</a></li>
<li id="devices-pm-schedules"><a href="/content/devices/pm/schedules.html">Schedules</a></li>
<li id="devices-pm-metadata"><a href="/content/devices/pm/metadata.html">Metadata</a></li>
<li id="devices-pm-file-properties"><a href="/content/devices/pm/file-properties.html">File properties</a></li>
<li id="devices-pm-synchronization"><a href="/content/devices/pm/synchronization.html">Synchronization</a></li>
<li id="devices-pm-boot-loaders"><a href="/content/devices/pm/boot-loaders.html">Boot loaders</a></li>
<li id="devices-pm-ota-updates"><a href="/content/devices/pm/ota-updates.html">OTA updates</a></li>
<li id="devices-pm-oem-accounts"><a href="/content/devices/pm/oem-accounts.html">OEM accounts</a></li>
<li id="devices-pm-porting"><a href="/content/devices/pm/porting.html">Porting</a></li>
</ol>
</li>
<li><span>Software Agents</span>
<ol style="display:{{sa}};">
<li id="devices-sa-overview"><a href="/content/devices/sa/overview.html">Overview</a></li>
<li id="devices-sa-red"><a href="/content/devices/sa/red.html">Red</a></li>
<li id="devices-sa-white"><a href="/content/devices/sa/white.html">White</a></li>
<li id="devices-sa-yellow"><a href="/content/devices/sa/yellow.html">Yellow</a></li>
</ol>
</li>
<li><span>Gateway Agents</span>
<ol style="display:{{ga}};">
<li id="devices-ga-overview"><a href="/content/devices/ga/overview.html">Overview</a></li> 
<li id="devices-ga-red"><a href="/content/devices/ga/red.html">Red</a></li>
<li id="devices-ga-white"><a href="/content/devices/ga/white.html">White</a></li>
<li id="devices-ga-yellow"><a href="/content/devices/ga/yellow.html">Yellow</a></li>
</ol>
</li>
</ul>
</nav>
