<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:darkgreen;">
<div class="container-fluid">
<button type="button" id="sidenavCollapse" class="btn btn-success"><i class="fas fa-align-left"></i></button>
<a class="navbar-brand" href="/"><img src="/assets/images/ayla-leaf.png" width="28" alt="">Ayla Core Content <span id="version">v 1.03</span></a>
<button class="btn btn-success d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-align-right"></i></button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul id="top-menu" class="nav navbar-nav ml-auto">

<li id="books" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/devices/">Devices</a>
<a class="dropdown-item" href="/cloud/">Cloud</a>
<a class="dropdown-item" href="/apps/">Apps</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/versions">Prior Versions</a>
</div>
</li>

<li id="glossary" class="nav-item"><a class="nav-link" href="/glossary/">Glossary</a></li>
<li id="training" class="nav-item"><a class="nav-link" href="/training/">Training</a></li>
<li id="certification" class="nav-item"><a class="nav-link" href="/certification/">Certification</a></li>
<li id="feedback" class="nav-item"><a class="nav-link" href="#">Feedback</a></li>
</ul>

<form class="form-inline my-2 my-lg-0"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></form>
</div>
</div>
</nav>
