<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:darkgreen;">
<div class="container-fluid">
<button type="button" id="sidenavCollapse" class="btn btn-success">&#9776;</button>
<a class="navbar-brand" href="/"><img src="/assets/images/ayla-leaf.png" width="28" alt="">Ayla Documentation</a>
<button class="btn btn-success d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">&#9776;</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul id="top-menu" class="nav navbar-nav ml-auto">

<li id="solutions" class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Solutions</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="/devices/">Devices</a>
<a class="dropdown-item" href="/cloud/">Cloud</a>
<a class="dropdown-item" href="/apps/">Apps</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/glossary/">Glossary</a>
<a class="dropdown-item" href="/training/">Training</a>
<a class="dropdown-item" href="/certification/">Certification</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="/utilities/">Utilities</a>
</div>
</li>
<li id="feedback" class="nav-item"><a class="nav-link" href="#">Feedback</a></li>
</ul>
</div>
</div>
</nav>
