{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li>
<a id="apps-aura-mobile-app-user-guide" class="chapter" href="/apps/aura-mobile-app/user-guide/">User Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="apps-aura-mobile-app-user-guide-introduction" href="/apps/aura-mobile-app/user-guide/introduction/">Introduction</a></li>
<li><a id="apps-aura-mobile-app-user-guide-login-screen" href="/apps/aura-mobile-app/user-guide/login-screen/">Login Screen</a></li>
<li><a id="apps-aura-mobile-app-user-guide-main-menu" href="/apps/aura-mobile-app/user-guide/main-menu/">Main Menu</a></li>
<li><a id="apps-aura-mobile-app-user-guide-device-screen" href="/apps/aura-mobile-app/user-guide/device-screen/">Device Screen</a></li>
<li><a id="apps-aura-mobile-app-user-guide-messages" href="/apps/aura-mobile-app/user-guide/messages/">Messages</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
