{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="authoring-guide-getting-started" class="chapter" href="/authoring-guide/getting-started">Getting Started</a></li>

<li><a id="authoring-guide-creating-content" class="chapter" href="/authoring-guide/creating-content">Creating Content</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="authoring-guide-creating-content-example" href="/authoring-guide/creating-content/example">Example</a></li>
<li><a id="authoring-guide-creating-content-headings" href="/authoring-guide/creating-content/headings">Headings</a></li>
<li><a id="authoring-guide-creating-content-images" href="/authoring-guide/creating-content/images">Images</a></li>
<li><a id="authoring-guide-creating-content-tables" href="/authoring-guide/creating-content/tables">Tables</a></li>
<li><a id="authoring-guide-creating-content-code" href="/authoring-guide/creating-content/code">Code</a></li>
<li><a id="authoring-guide-creating-content-links" href="/authoring-guide/creating-content/links">Links</a></li>
<li><a id="authoring-guide-creating-content-videos" href="/authoring-guide/creating-content/videos">Videos</a></li>
</ol>
</li>

<li><a id="authoring-guide-lists" class="chapter" href="/authoring-guide/lists">Lists</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="authoring-guide-lists-unordered-list" href="/authoring-guide/lists/unordered-list">Unordered list</a></li>
<li><a id="authoring-guide-lists-ordered-list" href="/authoring-guide/lists/ordered-list">Ordered list</a></li>
<li><a id="authoring-guide-lists-images-in-lists" href="/authoring-guide/lists/images-in-lists">Images in lists</a></li>
<li><a id="authoring-guide-lists-tables-in-lists" href="/authoring-guide/lists/tables-in-lists">Tables in lists</a></li>
<li><a id="authoring-guide-lists-simple-code-in-lists" href="/authoring-guide/lists/simple-code-in-lists">Simple code in lists</a></li>
<li><a id="authoring-guide-lists-complex-code-in-lists" href="/authoring-guide/lists/complex-code-in-lists">Complex code in lists</a></li>
</ol>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
