{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="authoring-guide-getting-started" class="chapter" href="/authoring-guide/getting-started">Getting Started</a></li>
<!--<li><a id="authoring-guide-content-organization" class="chapter" href="/authoring-guide/content-organization">Content Organization</a></li>-->

<li><a id="authoring-guide-creating-pages" class="chapter" href="/authoring-guide/creating-pages">Creating Pages</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="authoring-guide-creating-pages-content-organization" href="/authoring-guide/creating-pages/content-organization">Content organization</a></li>
<li><a id="authoring-guide-creating-pages-text" href="/authoring-guide/creating-pages/text">Text</a></li>
<li><a id="authoring-guide-creating-pages-headings" href="/authoring-guide/creating-pages/headings">Headings</a></li>
<li><a id="authoring-guide-creating-pages-lists" href="/authoring-guide/creating-pages/lists">Lists</a></li>
<li><a id="authoring-guide-creating-pages-links" href="/authoring-guide/creating-pages/links">Links</a></li>
<li><a id="authoring-guide-creating-pages-tables" href="/authoring-guide/creating-pages/tables">Tables</a></li>
<li><a id="authoring-guide-creating-pages-code-snippets" href="/authoring-guide/creating-pages/code-snippets">Code snippets</a></li>
<li><a id="authoring-guide-creating-pages-images" href="/authoring-guide/creating-pages/images">Images</a></li>
<li><a id="authoring-guide-creating-pages-videos" href="/authoring-guide/creating-pages/videos">Videos</a></li>
<li><a id="authoring-guide-creating-pages-html-and-css" href="/authoring-guide/creating-pages/html-and-css">HTML and CSS</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
