{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="authoring-guide-getting-started" class="chapter" href="/authoring-guide/getting-started">Getting Started</a></li>

<li><a id="authoring-guide-creating-content" class="chapter" href="/authoring-guide/creating-content">Creating Content</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="authoring-guide-creating-content-basic-page" href="/authoring-guide/creating-content/basic-page">Basic page</a></li>
<li><a id="authoring-guide-creating-content-headings" href="/authoring-guide/creating-content/headings">Headings</a></li>
<li><a id="authoring-guide-creating-content-lists" href="/authoring-guide/creating-content/lists">Lists</a></li>
<li><a id="authoring-guide-creating-content-links" href="/authoring-guide/creating-content/links">Links</a></li>
<li><a id="authoring-guide-creating-content-tables" href="/authoring-guide/creating-content/tables">Tables</a></li>
<li><a id="authoring-guide-creating-content-code-snippets" href="/authoring-guide/creating-content/code-snippets">Code snippets</a></li>
<li><a id="authoring-guide-creating-content-images" href="/authoring-guide/creating-content/images">Images</a></li>
<li><a id="authoring-guide-creating-content-videos" href="/authoring-guide/creating-content/videos">Videos</a></li>
<li><a id="authoring-guide-creating-content-html-and-css" href="/authoring-guide/creating-content/html-and-css">HTML and CSS</a></li>
<li><a id="authoring-guide-creating-content-ancillary-files" href="/authoring-guide/creating-content/ancillary-files">Ancillary files</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
