{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="cloud-ayla-datastream-service-getting-started" class="book" href="/cloud/ayla-datastream-service/getting-started">Getting Started</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="cloud-ayla-datastream-service-getting-started-introduction" href="/cloud/ayla-datastream-service/getting-started/introduction">Introduction</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-example-scenario" href="/cloud/ayla-datastream-service/getting-started/example-scenario">Example scenario</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-create-a-template" href="/cloud/ayla-datastream-service/getting-started/create-a-template">Create a template</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-create-a-virtual-device" href="/cloud/ayla-datastream-service/getting-started/create-a-virtual-device">Create a virtual device</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-register-the-device" href="/cloud/ayla-datastream-service/getting-started/register-the-device">Register the device</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-create-an-access-rule" href="/cloud/ayla-datastream-service/getting-started/create-an-access-rule">Create an access rule</a></li>
<li><a id="cloud-ayla-datastream-service-getting-started-create-subscriptions" href="/cloud/ayla-datastream-service/getting-started/create-subscriptions">Create subscriptions</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-dss-browser" class="book" href="/cloud/ayla-datastream-service/dss-browser/">DSS Browser</a>
<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}};">
<li><a id="cloud-ayla-datastream-service-dss-browser-introduction" href="/cloud/ayla-datastream-service/dss-browser/introduction">Introduction</a></li>
<li><a id="cloud-ayla-datastream-service-dss-browser-implementation" href="/cloud/ayla-datastream-service/dss-browser/implementation">Implementation</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-dss-collector" class="book" href="/cloud/ayla-datastream-service/dss-collector/">DSS Collector</a>
<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}};">
<li><a id="cloud-ayla-datastream-service-dss-collector-introduction" href="/cloud/ayla-datastream-service/dss-collector/introduction">Introduction</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-operation" href="/cloud/ayla-datastream-service/dss-collector/operation">Operation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-implementation" href="/cloud/ayla-datastream-service/dss-collector/implementation">Implementation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-add-persistence" href="/cloud/ayla-datastream-service/dss-collector/add-persistence">Add persistence</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-events" class="book" href="/cloud/ayla-datastream-service/events">Events</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}}; list-style-type: none;">
<li><a id="cloud-ayla-datastream-service-events-connectivity" href="/cloud/ayla-datastream-service/events/connectivity">connectivity</a></li>
<li><a id="cloud-ayla-datastream-service-events-datapoint" href="/cloud/ayla-datastream-service/events/datapoint">datapoint</a></li>
<li><a id="cloud-ayla-datastream-service-events-datapointack" href="/cloud/ayla-datastream-service/events/datapointack">datapointack</a></li>
<li><a id="cloud-ayla-datastream-service-events-location" href="/cloud/ayla-datastream-service/events/location">location</a></li>
<li><a id="cloud-ayla-datastream-service-events-registration" href="/cloud/ayla-datastream-service/events/registration">registration</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-api" class="book" href="/cloud/ayla-datastream-service/api">API</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}}; list-style-type: none;">
<li><a id="cloud-ayla-datastream-service-api-create-subscription" href="/cloud/ayla-datastream-service/api/create-subscription">Create Subscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-delete-subscription" href="/cloud/ayla-datastream-service/api/delete-subscription">Delete Subscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-get-subscription" href="/cloud/ayla-datastream-service/api/get-subscription">Get Subscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-get-subscriptions" href="/cloud/ayla-datastream-service/api/get-subscriptions">Get Subscriptions</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-sidebar' }}
