{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li>
<a id="getting-started-ayla-module-cli-guide" class="chapter" href="/getting-started/ayla-module-cli/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-module-cli-guide-introduction" href="/getting-started/ayla-module-cli/guide/introduction/">Introduction</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-module-cli-reference" class="chapter" href="/getting-started/ayla-module-cli/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-module-cli-reference-client" href="/getting-started/ayla-module-cli/reference/client/">client</a></li>
<li><a id="getting-started-ayla-module-cli-reference-eth" href="/getting-started/ayla-module-cli/reference/eth/">eth</a></li>
<li><a id="getting-started-ayla-module-cli-reference-file" href="/getting-started/ayla-module-cli/reference/file/">file</a></li>
<li><a id="getting-started-ayla-module-cli-reference-gpio" href="/getting-started/ayla-module-cli/reference/gpio/">gpio</a></li>
<li><a id="getting-started-ayla-module-cli-reference-host" href="/getting-started/ayla-module-cli/reference/host/">host</a></li>
<li><a id="getting-started-ayla-module-cli-reference-hw" href="/getting-started/ayla-module-cli/reference/hw/">hw</a></li>
<li><a id="getting-started-ayla-module-cli-reference-id" href="/getting-started/ayla-module-cli/reference/id/">id</a></li>
<li><a id="getting-started-ayla-module-cli-reference-img" href="/getting-started/ayla-module-cli/reference/img/">img</a></li>
<li><a id="getting-started-ayla-module-cli-reference-log" href="/getting-started/ayla-module-cli/reference/log/">log</a></li>
<li><a id="getting-started-ayla-module-cli-reference-log-client" href="/getting-started/ayla-module-cli/reference/log-client/">log-client</a></li>
<li><a id="getting-started-ayla-module-cli-reference-log-snap" href="/getting-started/ayla-module-cli/reference/log-snap/">log-snap</a></li>
<li><a id="getting-started-ayla-module-cli-reference-mfg_mode" href="/getting-started/ayla-module-cli/reference/mfg_mode/">mfg_mode</a></li>
<li><a id="getting-started-ayla-module-cli-reference-mfi" href="/getting-started/ayla-module-cli/reference/mfi/">mfi</a></li>
<li><a id="getting-started-ayla-module-cli-reference-oem" href="/getting-started/ayla-module-cli/reference/oem/">oem</a></li>
<li><a id="getting-started-ayla-module-cli-reference-power" href="/getting-started/ayla-module-cli/reference/power/">power</a></li>
<li><a id="getting-started-ayla-module-cli-reference-reset" href="/getting-started/ayla-module-cli/reference/reset/">reset</a></li>
<li><a id="getting-started-ayla-module-cli-reference-rssi" href="/getting-started/ayla-module-cli/reference/rssi/">rssi</a></li>
<li><a id="getting-started-ayla-module-cli-reference-run" href="/getting-started/ayla-module-cli/reference/run/">run</a></li>
<li><a id="getting-started-ayla-module-cli-reference-save" href="/getting-started/ayla-module-cli/reference/save/">save</a></li>
<li><a id="getting-started-ayla-module-cli-reference-sched" href="/getting-started/ayla-module-cli/reference/sched/">sched</a></li>
<li><a id="getting-started-ayla-module-cli-reference-secure" href="/getting-started/ayla-module-cli/reference/secure/">secure</a></li>
<li><a id="getting-started-ayla-module-cli-reference-server" href="/getting-started/ayla-module-cli/reference/server/">server</a></li>
<li><a id="getting-started-ayla-module-cli-reference-setup_mode" href="/getting-started/ayla-module-cli/reference/setup_mode/">setup_mode</a></li>
<li><a id="getting-started-ayla-module-cli-reference-show" href="/getting-started/ayla-module-cli/reference/show/">show</a></li>
<li><a id="getting-started-ayla-module-cli-reference-time" href="/getting-started/ayla-module-cli/reference/time/">time</a></li>
<li><a id="getting-started-ayla-module-cli-reference-version" href="/getting-started/ayla-module-cli/reference/version/">version</a></li>
<li><a id="getting-started-ayla-module-cli-reference-wifi" href="/getting-started/ayla-module-cli/reference/wifi/">wifi</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
