{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li>
<a id="getting-started-ayla-development-kit-user-guide" class="chapter" href="/getting-started/ayla-development-kit/user-guide/">User Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-development-kit-user-guide-connect" href="/getting-started/ayla-development-kit/user-guide/connect/">Connect</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-properties" href="/getting-started/ayla-development-kit/user-guide/properties/">Properties</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-schedules" href="/getting-started/ayla-development-kit/user-guide/schedules/">Schedules</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-notifications" href="/getting-started/ayla-development-kit/user-guide/notifications/">Notifications</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-apps-and-portals" href="/getting-started/ayla-development-kit/user-guide/apps-and-portals/">Apps and Portals</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-accounts-and-regions" href="/getting-started/ayla-development-kit/user-guide/accounts-and-regions/">Accounts and Regions</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-ota-updates" href="/getting-started/ayla-development-kit/user-guide/ota-updates/">OTA Updates</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-change-lans" href="/getting-started/ayla-development-kit/user-guide/change-lans/">Change LANs</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-change-accounts" href="/getting-started/ayla-development-kit/user-guide/change-accounts/">Change Accounts</a></li>
</ol>
</li>

<li><a id="getting-started-ayla-development-kit-developer-guide" class="chapter" href="/getting-started/ayla-development-kit/developer-guide/">Developer Guide</a></li>

<li><a id="getting-started-ayla-development-kit-porting-guide" class="chapter" href="/getting-started/ayla-development-kit/porting-guide/">Porting Guide</a></li>

<li><a id="getting-started-ayla-development-kit-reference" class="chapter" href="/getting-started/ayla-development-kit/reference/">Reference</a></li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
