{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="cloud-ayla-device-service-datapoints" class="book" href="/cloud/ayla-device-service/datapoints">Datapoints</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-datapoints-create-datapoint" href="/cloud/ayla-device-service/datapoints/create-datapoint/">Create Datapoint</a></li>
<li><a id="cloud-ayla-device-service-datapoints-create-datapoints" href="/cloud/ayla-device-service/datapoints/create-datapoints/">Create Datapoints</a></li>
<li><a id="cloud-ayla-device-service-datapoints-get-datapoints" href="/cloud/ayla-device-service/datapoints/get-datapoints/">Get Datapoints</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-device-groups" class="book" href="/cloud/ayla-device-service/device-groups">Device Groups</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-device-groups-add-device-to-group" href="/cloud/ayla-device-service/device-groups/add-device-to-group/">Add Device To Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-create-datapoints-for-prop-in-group" href="/cloud/ayla-device-service/device-groups/create-datapoints-for-prop-in-group/">Create Datapoints For Prop In Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-create-datapoints-for-props-in-group" href="/cloud/ayla-device-service/device-groups/create-datapoints-for-props-in-group/">Create Datapoints For Props In Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-create-device-group" href="/cloud/ayla-device-service/device-groups/create-device-group/">Create Device Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-delete-device-group" href="/cloud/ayla-device-service/device-groups/delete-device-group/">Delete Device Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-get-device-group" href="/cloud/ayla-device-service/device-groups/get-device-group/">Get Device Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-get-device-groups" href="/cloud/ayla-device-service/device-groups/get-device-groups/">Get Device Groups</a></li>
<li><a id="cloud-ayla-device-service-device-groups-get-devices-in-group" href="/cloud/ayla-device-service/device-groups/get-devices-in-group/">Get Devices In Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-remove-device-from-group" href="/cloud/ayla-device-service/device-groups/remove-device-from-group/">Remove Device From Group</a></li>
<li><a id="cloud-ayla-device-service-device-groups-update-device-group-name" href="/cloud/ayla-device-service/device-groups/update-device-group-name/">Update Device Group Name</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-devices" class="book" href="/cloud/ayla-device-service/devices">Devices</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-devices-find-devices" href="/cloud/ayla-device-service/devices/find-devices/">Find Devices</a></li>
<li><a id="cloud-ayla-device-service-devices-get-candidate" href="/cloud/ayla-device-service/devices/get-candidate/">Get Candidate</a></li>
<li><a id="cloud-ayla-device-service-devices-get-device" href="/cloud/ayla-device-service/devices/get-device/">Get Device</a></li>
<li><a id="cloud-ayla-device-service-devices-get-devices" href="/cloud/ayla-device-service/devices/get-devices/">Get Devices</a></li>
<li><a id="cloud-ayla-device-service-devices-register-device" href="/cloud/ayla-device-service/devices/register-device/">Register Device</a></li>
<li><a id="cloud-ayla-device-service-devices-reset-device" href="/cloud/ayla-device-service/devices/reset-device/">Reset Device</a></li>
<li><a id="cloud-ayla-device-service-devices-transfer-ownership" href="/cloud/ayla-device-service/devices/transfer-ownership/">Transfer Ownership</a></li>
<li><a id="cloud-ayla-device-service-devices-unregister-device" href="/cloud/ayla-device-service/devices/unregister-device/">Unregister Device</a></li>
<li><a id="cloud-ayla-device-service-devices-update-device" href="/cloud/ayla-device-service/devices/update-device/">Update Device</a></li>
<li><a id="cloud-ayla-device-service-devices-update-device-location" href="/cloud/ayla-device-service/devices/update-device-location/">Update Device Location</a></li>
<li><a id="cloud-ayla-device-service-devices-update-device-name" href="/cloud/ayla-device-service/devices/update-device-name/">Update Device Name</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-gateways" class="book" href="/cloud/ayla-device-service/gateways">Gateways</a>
<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-gateways-get-gateway-nodes" href="/cloud/ayla-device-service/gateways/get-gateway-nodes/">Get Gateway Nodes</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-metadata" class="book" href="/cloud/ayla-device-service/metadata">Metadata</a>
<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-metadata-create-metadata" href="/cloud/ayla-device-service/metadata/create-metadata/">Create Metadata</a></li>
<li><a id="cloud-ayla-device-service-metadata-delete-metadata" href="/cloud/ayla-device-service/metadata/delete-metadata/">Delete Metadata</a></li>
<li><a id="cloud-ayla-device-service-metadata-get-metadata" href="/cloud/ayla-device-service/metadata/get-metadata/">Get Metadata</a></li>
<li><a id="cloud-ayla-device-service-metadata-get-metadata-keys" href="/cloud/ayla-device-service/metadata/get-metadata-keys/">Get Metadata Keys</a></li>
<li><a id="cloud-ayla-device-service-metadata-update-metadata" href="/cloud/ayla-device-service/metadata/update-metadata/">Update Metadata</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-properties" class="book" href="/cloud/ayla-device-service/properties">Properties</a>
<img class="toggle" src="/assets/images/chevron-{{f}}-24.png">
<ol style="display:{{f}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-properties-get-property" href="/cloud/ayla-device-service/properties/get-property/">Get Property</a></li>
<li><a id="cloud-ayla-device-service-properties-get-properties" href="/cloud/ayla-device-service/properties/get-properties/">Get Properties</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-schedules" class="book" href="/cloud/ayla-device-service/schedules">Schedules</a>
<img class="toggle" src="/assets/images/chevron-{{h}}-24.png">
<ol style="display:{{h}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-schedules-clear-schedule" href="/cloud/ayla-device-service/schedules/clear-schedule/">Clear Schedule</a></li>
<li><a id="cloud-ayla-device-service-schedules-create-schedule" href="/cloud/ayla-device-service/schedules/create-schedule/">Create Schedule</a></li>
<li><a id="cloud-ayla-device-service-schedules-get-schedule" href="/cloud/ayla-device-service/schedules/get-schedule/">Get Schedule</a></li>
<li><a id="cloud-ayla-device-service-schedules-get-schedules" href="/cloud/ayla-device-service/schedules/get-schedules/">Get Schedules</a></li>
<li><a id="cloud-ayla-device-service-schedules-update-schedule" href="/cloud/ayla-device-service/schedules/update-schedule/">Update Schedule</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-schedule-actions" class="book" href="/cloud/ayla-device-service/schedule-actions">Schedule Actions</a>
<img class="toggle" src="/assets/images/chevron-{{g}}-24.png">
<ol style="display:{{g}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-schedule-actions-create-schedule-action" href="/cloud/ayla-device-service/schedule-actions/create-schedule-action/">Create Schedule Action</a></li>
<li><a id="cloud-ayla-device-service-schedule-actions-delete-schedule-action" href="/cloud/ayla-device-service/schedule-actions/delete-schedule-action/">Delete Schedule Action</a></li>
<li><a id="cloud-ayla-device-service-schedule-actions-get-schedule-action" href="/cloud/ayla-device-service/schedule-actions/get-schedule-action/">Get Schedule Action</a></li>
<li><a id="cloud-ayla-device-service-schedule-actions-get-schedule-actions" href="/cloud/ayla-device-service/schedule-actions/get-schedule-actions/">Get Schedule Actions</a></li>
<li><a id="cloud-ayla-device-service-schedule-actions-update-schedule-action" href="/cloud/ayla-device-service/schedule-actions/update-schedule-action/">Update Schedule Action</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-timezones" class="book" href="/cloud/ayla-device-service/timezones">Timezones</a>
<img class="toggle" src="/assets/images/chevron-{{i}}-24.png">
<ol style="display:{{i}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-timezones-get-device-timezone" href="/cloud/ayla-device-service/timezones/get-device-timezone/">Get Device Timezone</a></li>
<li><a id="cloud-ayla-device-service-timezones-set-device-timezone" href="/cloud/ayla-device-service/timezones/set-device-timezone/">Set Device Timezone</a></li>
<li><a id="cloud-ayla-device-service-timezones-get-timezones" href="/cloud/ayla-device-service/timezones/get-timezones/">Get Timezones</a></li>
</ol>
</li>

<li><a id="cloud-ayla-device-service-triggers" class="book" href="/cloud/ayla-device-service/triggers">Triggers</a></li>

<li><a id="cloud-ayla-device-service-trigger-apps" class="book" href="/cloud/ayla-device-service/trigger-apps">Trigger Apps</a>
<img class="toggle" src="/assets/images/chevron-{{j}}-24.png">
<ol style="display:{{j}}; list-style-type: none;">
<li><a id="cloud-ayla-device-service-trigger-apps-get-trigger-app" href="/cloud/ayla-device-service/trigger-apps/get-trigger-app/">Get Trigger App</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
