{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="devices-ayla-dynamic-gateway-agent-getting-started" class="book" href="/devices/ayla-dynamic-gateway-agent/getting-started/">Getting Started</a>
<img class="toggle" src="/assets/images/chevron-{{i}}-24.png">
<ol style="display:{{i}};">
<li><a id="devices-ayla-dynamic-gateway-agent-getting-started-introduction" href="/devices/ayla-dynamic-gateway-agent/getting-started/introduction/">Introduction</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-getting-started-installation" href="/devices/ayla-dynamic-gateway-agent/getting-started/installation/">Installation</a></li>
</ol>

</li>

<!--
<li><a id="devices-ayla-dynamic-gateway-agent-gateway-agent" class="book" href="/devices/ayla-dynamic-gateway-agent/gateway-agent/">Gateway Agent</a>
<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}};">
<li><a id="devices-ayla-dynamic-gateway-agent-gateway-agent-introduction" href="/devices/ayla-dynamic-gateway-agent/gateway-agent/introduction/">Introduction</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-gateway-agent-installation" href="/devices/ayla-dynamic-gateway-agent/gateway-agent/installation/">Installation</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-gateway-agent-registration" href="/devices/ayla-dynamic-gateway-agent/gateway-agent/registration/">Registration</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-gateway-agent-tests" href="/devices/ayla-dynamic-gateway-agent/gateway-agent/tests/">Tests</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-device-app" class="book" href="/devices/ayla-dynamic-gateway-agent/device-app/">Device App</a>
<img class="toggle" src="/assets/images/chevron-{{h}}-24.png">
<ol style="display:{{h}};">
<li><a id="devices-ayla-dynamic-gateway-agent-device-app-introduction" href="/devices/ayla-dynamic-gateway-agent/device-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-simulator-gw-app" class="book" href="/devices/ayla-dynamic-gateway-agent/simulator-gw-app/">Simulator GW App</a>
<img class="toggle" src="/assets/images/chevron-{{f}}-24.png">
<ol style="display:{{f}};">
<li><a id="devices-ayla-dynamic-gateway-agent-simulator-gw-app-introduction" href="/devices/ayla-dynamic-gateway-agent/simulator-gw-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-gw-app" class="book" href="/devices/ayla-dynamic-gateway-agent/bluetooth-gw-app/">Bluetooth GW App</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-gw-app-introduction" href="/devices/ayla-dynamic-gateway-agent/bluetooth-gw-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-zigbee-gw-app" class="book" href="/devices/ayla-dynamic-gateway-agent/zigbee-gw-app/">Zigbee GW App</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-zigbee-gw-app-introduction" href="/devices/ayla-dynamic-gateway-agent/zigbee-gw-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-multiprotocol-gw-app" class="book" href="/devices/ayla-dynamic-gateway-agent/multiprotocol-gw-app/">Multiprotocol GW App</a>
<img class="toggle" src="/assets/images/chevron-{{g}}-24.png">
<ol style="display:{{g}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-multiprotocol-gw-app-introduction" href="/devices/ayla-dynamic-gateway-agent/multiprotocol-gw-app/introduction/">Introduction</a></li>
</ol>
</li>
-->
<li><a id="devices-ayla-dynamic-gateway-agent-reference" class="book" href="/devices/ayla-dynamic-gateway-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-dynamic-gateway-agent-reference-agent-api" href="/devices/ayla-dynamic-gateway-agent/reference/agent-api/">Agent API</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-notes" class="book" href="/devices/ayla-dynamic-gateway-agent/notes/">Notes</a>
<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}};">
<li><a id="devices-ayla-dynamic-gateway-agent-notes-configure-rpi" href="/devices/ayla-dynamic-gateway-agent/notes/configure-rpi/">Configure RPi</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-notes-images-and-video" href="/devices/ayla-dynamic-gateway-agent/notes/images-and-video/">Images and Video</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-notes-device-linux-gw-public" href="/devices/ayla-dynamic-gateway-agent/notes/device-linux-gw-public/">device-linux-gw-public</a></li>

</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
