{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="getting-startedayla-on-an-esp32-dev-kit-guide" class="chapter" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-introduction" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/introduction/">Introduction</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-ayla-account" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/ayla-account/">Ayla Account</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-create-a-template" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/create-a-template/">Create a template</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-install-espressif" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/install-espressif/">Install Espressif</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-install-ayla" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/install-ayla/">Install Ayla</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-guide-explore-ayla" href="/getting-started/ayla-on-an-esp32-dev-kit/guide/explore-ayla/">Explore Ayla</a></li>
</ol>
</li>
<li>
<a id="getting-startedayla-on-an-esp32-dev-kit-tutorials" class="chapter" href="/getting-started/ayla-on-an-esp32-dev-kit/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-tutorials-modify-the-host-application" href="/getting-started/ayla-on-an-esp32-dev-kit/tutorials/modify-the-host-application/">Modify the host application</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-tutorials-run-the-host-application" href="/getting-started/ayla-on-an-esp32-dev-kit/tutorials/run-the-host-application/">Run the host application</a></li>
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-tutorials-examine-source-code" href="/getting-started/ayla-on-an-esp32-dev-kit/tutorials/examine-source-code/">Examine source code</a></li>
</ol>
</li>
<li>
<a id="getting-startedayla-on-an-esp32-dev-kit-reference" class="chapter" href="/getting-started/ayla-on-an-esp32-dev-kit/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="getting-started-ayla-on-an-esp32-dev-kit-reference-agent-api" href="/getting-started/ayla-on-an-esp32-dev-kit/reference/agent-api/">Agent API</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
