{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="devices-ayla-module-command-line-interface-guide" class="chapter" href="/devices/ayla-module-command-line-interface/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-module-command-line-interface-guide-introduction" href="/devices/ayla-module-command-line-interface/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-module-command-line-interface-guide-connect" href="/devices/ayla-module-command-line-interface/guide/connect/">Connect</a></li>
<li><a id="devices-ayla-module-command-line-interface-guide-register" href="/devices/ayla-module-command-line-interface/guide/register/">Register</a></li>
<li><a id="devices-ayla-module-command-line-interface-guide-bug-fixes" href="/devices/ayla-module-command-line-interface/guide/bug-fixes/">Bug fixes</a></li>
</ol>
</li>

<li><a id="devices-ayla-module-command-line-interface-reference" class="chapter" href="/devices/ayla-module-command-line-interface/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-module-command-line-interface-reference-client" href="/devices/ayla-module-command-line-interface/reference/client/">client</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-eth" href="/devices/ayla-module-command-line-interface/reference/eth/">eth</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-file" href="/devices/ayla-module-command-line-interface/reference/file/">file</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-gpio" href="/devices/ayla-module-command-line-interface/reference/gpio/">gpio</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-host" href="/devices/ayla-module-command-line-interface/reference/host/">host</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-hw" href="/devices/ayla-module-command-line-interface/reference/hw/">hw</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-id" href="/devices/ayla-module-command-line-interface/reference/id/">id</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-img" href="/devices/ayla-module-command-line-interface/reference/img/">img</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-locale" href="/devices/ayla-module-command-line-interface/reference/locale/">locale</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-log" href="/devices/ayla-module-command-line-interface/reference/log/">log</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-log-client" href="/devices/ayla-module-command-line-interface/reference/log-client/">log-client</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-log-snap" href="/devices/ayla-module-command-line-interface/reference/log-snap/">log-snap</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-mfg-mode" href="/devices/ayla-module-command-line-interface/reference/mfg-mode/">mfg_mode</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-mfi" href="/devices/ayla-module-command-line-interface/reference/mfi/">mfi</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-oem" href="/devices/ayla-module-command-line-interface/reference/oem/">oem</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-power" href="/devices/ayla-module-command-line-interface/reference/power/">power</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-reset" href="/devices/ayla-module-command-line-interface/reference/reset/">reset</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-rssi" href="/devices/ayla-module-command-line-interface/reference/rssi/">rssi</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-run" href="/devices/ayla-module-command-line-interface/reference/run/">run</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-save" href="/devices/ayla-module-command-line-interface/reference/save/">save</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-sched" href="/devices/ayla-module-command-line-interface/reference/sched/">sched</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-secure" href="/devices/ayla-module-command-line-interface/reference/secure/">secure</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-server" href="/devices/ayla-module-command-line-interface/reference/server/">server</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-setup-mode" href="/devices/ayla-module-command-line-interface/reference/setup-mode/">setup_mode</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-show" href="/devices/ayla-module-command-line-interface/reference/show/">show</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-time" href="/devices/ayla-module-command-line-interface/reference/time/">time</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-version" href="/devices/ayla-module-command-line-interface/reference/version/">version</a></li>
<li><a id="devices-ayla-module-command-line-interface-reference-wifi" href="/devices/ayla-module-command-line-interface/reference/wifi/">wifi</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
