{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-access-rules" class="book" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/access-rules">Access Rules</a>
  <img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}}; list-style-type: none;">
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-access-rules-create-access-rule" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/access-rules/create-access-rule">Create Access Rule</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-access-rules-delete-access-rule" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/access-rules/delete-access-rule">Delete Access Rule</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-access-rules-get-access-rule" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/access-rules/get-access-rule">Get Access Rule</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-access-rules-get-access-rules" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/access-rules/get-access-rules">Get Access Rules</a></li>
</ol>
</li>

<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-subscriptions" class="book" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/subscriptions">Subscriptions</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}}; list-style-type: none;">
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-subscriptions-create-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/subscriptions/create-subscription">Create Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-subscriptions-delete-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/subscriptions/delete-subscription">Delete Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-subscriptions-get-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/subscriptions/get-subscription">Get Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-subscriptions-get-subscriptions" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/subscriptions/get-subscriptions">Get Subscriptions</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
