{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li>
<a id="getting-started-ayla-developer-kit-user-guide" class="chapter" href="/getting-started/ayla-developer-kit/user-guide/">User Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-developer-kit-user-guide-introduction" href="/getting-started/ayla-developer-kit/user-guide/introduction/">Introduction</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-hardware" href="/getting-started/ayla-developer-kit/user-guide/hardware/">Hardware</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-concepts" href="/getting-started/ayla-developer-kit/user-guide/concepts/">Concepts</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-apps-and-portals" href="/getting-started/ayla-developer-kit/user-guide/apps-and-portals/">Apps and Portals</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-ota-updates" href="/getting-started/ayla-developer-kit/user-guide/ota-updates/">OTA Updates</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-change-lans" href="/getting-started/ayla-developer-kit/user-guide/change-lans/">Change LANs</a></li>
<li><a id="getting-started-ayla-developer-kit-user-guide-change-accounts" href="/getting-started/ayla-developer-kit/user-guide/change-accounts/">Change Accounts</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-developer-kit-developer-guide" class="chapter" href="/getting-started/ayla-developer-kit/developer-guide/">Developer Guide</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-developer-kit-developer-guide-introduction" href="/getting-started/ayla-developer-kit/developer-guide/introduction/">Introduction</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-architecture" href="/getting-started/ayla-developer-kit/developer-guide/architecture/">Architecture</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-build-environment" href="/getting-started/ayla-developer-kit/developer-guide/build-environment/">Build environment</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-modify-the-host-application" href="/getting-started/ayla-developer-kit/developer-guide/modify-the-host-application/">Modify the host application</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-examine-source-code" href="/getting-started/ayla-developer-kit/developer-guide/examine-source-code/">Examine source code</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-a" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-a/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-b" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-b/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-c" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-c/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-d" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-d/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-e" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-e/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-developer-guide-placeholder-f" href="/getting-started/ayla-developer-kit/developer-guide/placeholder-f/">Placeholder</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-developer-kit-porting-guide" class="chapter" href="/getting-started/ayla-developer-kit/porting-guide/">Porting Guide</a>
<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}};">
<li><a id="getting-started-ayla-developer-kit-porting-guide-introduction" href="/getting-started/ayla-developer-kit/porting-guide/introduction/">Introduction</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-developer-kit-reference" class="chapter" href="/getting-started/ayla-developer-kit/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="getting-started-ayla-developer-kit-reference-agent-api" href="/getting-started/ayla-developer-kit/reference/agent-api/">Agent API</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
