{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-websocket-api" class="book" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/websocket-api">WebSocket API</a></li>

<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-api" class="book" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/rest-api">REST API</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}}; list-style-type: none;">
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-rest-api-create-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/rest-api/create-subscription">Create Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-rest-api-delete-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/rest-api/delete-subscription">Delete Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-rest-api-get-subscription" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/rest-api/get-subscription">Get Subscription</a></li>
<li><a id="utilities-ayla-proxy-server-services-ayla-datastream-service-api-rest-api-get-subscriptions" href="/utilities/ayla-proxy-server/services/ayla-datastream-service/api/rest-api/get-subscriptions">Get Subscriptions</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
