{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ol>
<li><a id="getting-started-ayla-concepts-architecture" href="/getting-started/ayla-concepts/architecture/">Architecture</a></li>
<li><a id="getting-started-ayla-concepts-accounts" href="/getting-started/ayla-concepts/accounts/">Accounts</a></li>
<li><a id="getting-started-ayla-concepts-regions" href="/getting-started/ayla-concepts/regions/">Regions</a></li>
<li><a id="getting-started-ayla-concepts-apps-and-portals" href="/getting-started/ayla-concepts/apps-and-portals/">Apps and Portals</a></li>
<li><a id="getting-started-ayla-concepts-devices" href="/getting-started/ayla-concepts/devices/">Devices</a></li>
<li><a id="getting-started-ayla-concepts-gateways" href="/getting-started/ayla-concepts/gateways/">Gateways</a></li>
<li><a id="getting-started-ayla-concepts-host-applications" href="/getting-started/ayla-concepts/host-applications/">Host Applications</a></li>
<li><a id="getting-started-ayla-concepts-agents" href="/getting-started/ayla-concepts/agents/">Agents</a></li>
<li><a id="getting-started-ayla-concepts-registration" href="/getting-started/ayla-concepts/registration/">Registration</a></li>
<li><a id="getting-started-ayla-concepts-digital-twins" href="/getting-started/ayla-concepts/digital-twins/">Digital Twins</a></li>
<li><a id="getting-started-ayla-concepts-templates" href="/getting-started/ayla-concepts/templates/">Templates</a></li>
</ol>
</nav>
<!-- END SIDENAV -->

<!--
DSS
Reference Application
metadata
schedules

-->

{{> bottom pageType='page-with-sidebar' }}
