{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-dynamic-gateway-agent-guide" class="book" href="/devices/ayla-dynamic-gateway-agent/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-dynamic-gateway-agent-guide-introduction" href="/devices/ayla-dynamic-gateway-agent/guide/introduction/">Introduction</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-dynamic-gateway-agent-tutorials" class="book" href="/devices/ayla-dynamic-gateway-agent/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-dynamic-gateway-agent-tutorials-introduction" href="/devices/ayla-dynamic-gateway-agent/tutorials/introduction/">Introduction</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-dynamic-gateway-agent-reference" class="book" href="/devices/ayla-dynamic-gateway-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-dynamic-gateway-agent-reference-agent-api" href="/devices/ayla-dynamic-gateway-agent/reference/agent-api/">Agent API</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
