{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-integrated-agents-guide" class="chapter" href="/devices/ayla-integrated-agents/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-integrated-agents-guide-introduction" href="/devices/ayla-integrated-agents/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-integrated-agents-guide-access-to-ayla" href="/devices/ayla-integrated-agents/guide/access-to-ayla/">Access to Ayla</a></li>
<li><a id="devices-ayla-integrated-agents-guide-template" href="/devices/ayla-integrated-agents/guide/template/">Template</a></li>
<li><a id="devices-ayla-integrated-agents-guide-toolchain" href="/devices/ayla-integrated-agents/guide/toolchain/">Toolchain</a></li>
<li><a id="devices-ayla-integrated-agents-guide-installation" href="/devices/ayla-integrated-agents/guide/installation/">Installation</a></li>
<li><a id="devices-ayla-integrated-agents-guide-configuration" href="/devices/ayla-integrated-agents/guide/configuration/">Configuration</a></li>
<li><a id="devices-ayla-integrated-agents-guide-registration" href="/devices/ayla-integrated-agents/guide/registration/">Registration</a></li>
<li><a id="devices-ayla-integrated-agents-guide-user-tests" href="/devices/ayla-integrated-agents/guide/user-tests/">User Tests</a></li>
<li><a id="devices-ayla-integrated-agents-guide-versioning" href="/devices/ayla-integrated-agents/guide/versioning/">Versioning</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-integrated-agents-tutorials" class="chapter" href="/devices/ayla-integrated-agents/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-integrated-agents-tutorials-modify-the-host-application" href="/devices/ayla-integrated-agents/tutorials/modify-the-host-application/">Modify the host application</a></li>
<li><a id="devices-ayla-integrated-agents-tutorials-run-the-host-application" href="/devices/ayla-integrated-agents/tutorials/run-the-host-application/">Run the host application</a></li>
<li><a id="devices-ayla-integrated-agents-tutorials-examine-source-code" href="/devices/ayla-integrated-agents/tutorials/examine-source-code/">Examine source code</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-integrated-agents-reference" class="chapter" href="/devices/ayla-integrated-agents/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-integrated-agents-reference-agent-api" href="/devices/ayla-integrated-agents/reference/agent-api/">Agent API</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
