{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li>
<a id="getting-started-ayla-development-kit-user-guide" class="chapter" href="/getting-started/ayla-development-kit/user-guide/">User Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-development-kit-user-guide-connect" href="/getting-started/ayla-development-kit/user-guide/connect/">Connect</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-properties" href="/getting-started/ayla-development-kit/user-guide/properties/">Properties</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-schedules" href="/getting-started/ayla-development-kit/user-guide/schedules/">Schedules</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-notifications" href="/getting-started/ayla-development-kit/user-guide/notifications/">Notifications</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-share-a-device" href="/getting-started/ayla-development-kit/user-guide/share-a-device/">Share a device</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-aura-mobile-app" href="/getting-started/ayla-development-kit/user-guide/aura-mobile-app/">Aura Mobile App</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-ayla-developer-portal" href="/getting-started/ayla-development-kit/user-guide/ayla-developer-portal/">Ayla Developer Portal</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-ayla-dashboard-portal" href="/getting-started/ayla-development-kit/user-guide/ayla-dashboard-portal/">Ayla Dashboard Portal</a></li>
<li><a id="getting-started-ayla-development-kit-user-guide-factory-reset" href="/getting-started/ayla-development-kit/user-guide/factory-reset/">Factory Reset</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-development-kit-developer-guide" class="chapter" href="/getting-started/ayla-development-kit/developer-guide/">Developer Guide</a>
<!--<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-development-kit-developer-guide-templates" href="/getting-started/ayla-development-kit/developer-guide/templates/">Templates</a></li>
</ol>-->
</li>

<li><a id="getting-started-ayla-development-kit-porting-guide" class="chapter" href="/getting-started/ayla-development-kit/porting-guide/">Porting Guide</a></li>

<li>
<a id="getting-started-ayla-development-kit-account-guide" class="chapter" href="/getting-started/ayla-development-kit/account-guide/">Account Guide</a>
<!--<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}};">
<li><a id="getting-started-ayla-development-kit-account-guide-configure-aura" href="/getting-started/ayla-development-kit/account-guide/configure-aura/">Configure Aura</a></li>
<li><a id="getting-started-ayla-development-kit-account-guide-ota-updates" href="/getting-started/ayla-development-kit/account-guide/ota-updates/">OTA Updates</a></li>
</ol>-->
</li>

<li>
<a id="getting-started-ayla-development-kit-reference" class="chapter" href="/getting-started/ayla-development-kit/reference/">Reference</a>
<!--<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}};">
<li><a id="getting-started-ayla-development-kit-reference-configuration" href="/getting-started/ayla-development-kit/reference/configuration/">Configuration</a></li>
</ol>-->
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
