{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">

<ul>

<li><a id="getting-started-ayla-overview-value-proposition" class="chapter" href="/getting-started/ayla-overview/value-proposition/">Value Proposition</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-overview-value-proposition-consumers" href="/getting-started/ayla-overview/value-proposition/consumers">Consumers</a></li>
<li><a id="getting-started-ayla-overview-value-proposition-service-companies" href="/getting-started/ayla-overview/value-proposition/service-companies">Service Companies</a></li>
<li><a id="getting-started-ayla-overview-value-proposition-retailers" href="/getting-started/ayla-overview/value-proposition/retailers">Retailers</a></li>
<li><a id="getting-started-ayla-overview-value-proposition-manufacturers" href="/getting-started/ayla-overview/value-proposition/manufacturers">Manufacturers</a></li>
</ol></li>

<li><a id="getting-started-ayla-overview-working-with-ayla" class="chapter" href="/getting-started/ayla-overview/working-with-ayla/">Working with Ayla</a>
<img class="toggle" src="/assets/images/chevron-{{f}}-24.png">
<ol style="display:{{f}};">
<li><a id="getting-started-ayla-overview-working-with-ayla-p1" href="/getting-started/ayla-overview/working-with-ayla/p1">Page</a></li>
<li><a id="getting-started-ayla-overview-working-with-ayla-p2" href="/getting-started/ayla-overview/working-with-ayla/p2">Page</a></li>
<li><a id="getting-started-ayla-overview-working-with-ayla-p3" href="/getting-started/ayla-overview/working-with-ayla/p3">Page</a></li>
<li><a id="getting-started-ayla-overview-working-with-ayla-p4" href="/getting-started/ayla-overview/working-with-ayla/p4">Page</a></li>
<li><a id="getting-started-ayla-overview-working-with-ayla-p5" href="/getting-started/ayla-overview/working-with-ayla/p5">Page</a></li>
</ol></li>

<li><a id="getting-started-ayla-overview-ayla-basics" class="chapter" href="/getting-started/ayla-overview/ayla-basics/">Ayla Basics</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-overview-ayla-basics-p1" href="/getting-started/ayla-overview/ayla-basics/p1">Page</a></li>
<li><a id="getting-started-ayla-overview-ayla-basics-p2" href="/getting-started/ayla-overview/ayla-basics/p2">Page</a></li>
<li><a id="getting-started-ayla-overview-ayla-basics-p3" href="/getting-started/ayla-overview/ayla-basics/p3">Page</a></li>
<li><a id="getting-started-ayla-overview-ayla-basics-p4" href="/getting-started/ayla-overview/ayla-basics/p4">Page</a></li>
<li><a id="getting-started-ayla-overview-ayla-basics-p5" href="/getting-started/ayla-overview/ayla-basics/p5">Page</a></li>
</ol></li>

<li><a id="getting-started-ayla-overview-edge-solutions" class="chapter" href="/getting-started/ayla-overview/edge-solutions/">Edge Solutions</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="getting-started-ayla-overview-edge-solutions-production-modules" href="/getting-started/ayla-overview/edge-solutions/production-modules">Production Modules</a></li>
<li><a id="getting-started-ayla-overview-edge-solutions-integrated-agents" href="/getting-started/ayla-overview/edge-solutions/integrated-agents">Integrated Agents</a></li>
<li><a id="getting-started-ayla-overview-edge-solutions-portable-agent" href="/getting-started/ayla-overview/edge-solutions/portable-agent">Portable Agent</a></li>
<li><a id="getting-started-ayla-overview-edge-solutions-android-agent" href="/getting-started/ayla-overview/edge-solutions/android-agent">Android Agent</a></li>
<li><a id="getting-started-ayla-overview-edge-solutions-linux-agent" href="/getting-started/ayla-overview/edge-solutions/linux-agent">Linux Agent</a></li>
<li><a id="getting-started-ayla-overview-edge-solutions-gateway-agents" href="/getting-started/ayla-overview/edge-solutions/gateway-agents">Gateway Agents</a></li>
</ol></li>

<li><a id="getting-started-ayla-overview-cloud-services" class="chapter" href="/getting-started/ayla-overview/cloud-services/">Cloud Services</a>
<img class="toggle" src="/assets/images/chevron-{{d}}-24.png">
<ol style="display:{{d}};">
<li><a id="getting-started-ayla-overview-cloud-services-p1" href="/getting-started/ayla-overview/cloud-services/p1">Page</a></li>
<li><a id="getting-started-ayla-overview-cloud-services-p2" href="/getting-started/ayla-overview/cloud-services/p2">Page</a></li>
<li><a id="getting-started-ayla-overview-cloud-services-p3" href="/getting-started/ayla-overview/cloud-services/p3">Page</a></li>
<li><a id="getting-started-ayla-overview-cloud-services-p4" href="/getting-started/ayla-overview/cloud-services/p4">Page</a></li>
<li><a id="getting-started-ayla-overview-cloud-services-p5" href="/getting-started/ayla-overview/cloud-services/p5">Page</a></li>
</ol></li>

<li><a id="getting-started-ayla-overview-apps-and-portals" class="chapter" href="/getting-started/ayla-overview/apps-and-portals/">Apps and Portals</a>
<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}};">
<li><a id="getting-started-ayla-overview-apps-and-portals-aura-mobile-app" href="/getting-started/ayla-overview/apps-and-portals/aura-mobile-app">Aura Mobile App</a></li>
<li><a id="getting-started-ayla-overview-apps-and-portals-amap" href="/getting-started/ayla-overview/apps-and-portals/amap">AMAP</a></li>
<li><a id="getting-started-ayla-overview-apps-and-portals-ayla-developer-portal" href="/getting-started/ayla-overview/apps-and-portals/ayla-developer-portal">Ayla Developer Portal</a></li>
<li><a id="getting-started-ayla-overview-apps-and-portals-ayla-dashboard-portal" href="/getting-started/ayla-overview/apps-and-portals/ayla-dashboard-portal">Ayla Dashboard Portal</a></li>
</ol></li>

</ul>

</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
