{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="getting-started-ayla-developer-kit-connect" class="chapter" href="/getting-started/ayla-developer-kit/connect/">Connect</a></li>

<li>
<a id="getting-started-ayla-developer-kit-explore" class="chapter" href="/getting-started/ayla-developer-kit/explore/">Explore</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="getting-started-ayla-developer-kit-explore-properties" href="/getting-started/ayla-developer-kit/explore/properties/">Properties</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-schedules" href="/getting-started/ayla-developer-kit/explore/schedules/">Schedules</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-notifications" href="/getting-started/ayla-developer-kit/explore/notifications/">Notifications</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-apps-and-portals" href="/getting-started/ayla-developer-kit/explore/apps-and-portals/">Apps and Portals</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-datapoints" href="/getting-started/ayla-developer-kit/explore/datapoints/">Datapoints</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-device-details" href="/getting-started/ayla-developer-kit/explore/device-details/">Device Details</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-twins-and-templates" href="/getting-started/ayla-developer-kit/explore/twins-and-templates/">Twins and Templates</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-ota-updates" href="/getting-started/ayla-developer-kit/explore/ota-updates/">OTA Updates</a></li>
<li><a id="getting-started-ayla-developer-kit-explore-factory-reset" href="/getting-started/ayla-developer-kit/explore/factory-reset/">Factory Reset</a></li>
</ol>
</li>

<li>
<a id="getting-started-ayla-developer-kit-customize" class="chapter" href="/getting-started/ayla-developer-kit/customize/">Customize</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="getting-started-ayla-developer-kit-customize-introduction" href="/getting-started/ayla-developer-kit/customize/introduction/">Introduction</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-architecture" href="/getting-started/ayla-developer-kit/customize/architecture/">Architecture</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-build-environment" href="/getting-started/ayla-developer-kit/customize/build-environment/">Build environment</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-modify-the-host-application" href="/getting-started/ayla-developer-kit/customize/modify-the-host-application/">Modify the host application</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-examine-source-code" href="/getting-started/ayla-developer-kit/customize/examine-source-code/">Examine source code</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-a" href="/getting-started/ayla-developer-kit/customize/placeholder-a/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-b" href="/getting-started/ayla-developer-kit/customize/placeholder-b/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-c" href="/getting-started/ayla-developer-kit/customize/placeholder-c/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-d" href="/getting-started/ayla-developer-kit/customize/placeholder-d/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-e" href="/getting-started/ayla-developer-kit/customize/placeholder-e/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-placeholder-f" href="/getting-started/ayla-developer-kit/customize/placeholder-f/">Placeholder</a></li>
<li><a id="getting-started-ayla-developer-kit-customize-agent-api" href="/getting-started/ayla-developer-kit/customize/agent-api/">Agent API</a></li>
</ol>
</li>

<li><a id="getting-started-ayla-developer-kit-migrate" class="chapter" href="/getting-started/ayla-developer-kit/migrate/">Migrate</a></li>

<li><a id="getting-started-ayla-developer-kit-port" class="chapter" href="/getting-started/ayla-developer-kit/port/">Port</a></li>
<!--
<li>
<a id="getting-started-ayla-developer-kit-research" class="chapter" href="/getting-started/ayla-developer-kit/research/">Research</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="getting-started-ayla-developer-kit-research-agent-api" href="/getting-started/ayla-developer-kit/research/agent-api/">Agent API</a></li>
</ol>
</li>
-->
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
