{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-linux-agent-guide" class="chapter" href="/devices/ayla-linux-agent/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-linux-agent-guide-introduction" href="/devices/ayla-linux-agent/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-linux-agent-guide-raspberry-pi" href="/devices/ayla-linux-agent/guide/raspberry-pi/">Raspberry Pi</a></li>
<li><a id="devices-ayla-linux-agent-guide-ayla-resources" href="/devices/ayla-linux-agent/guide/ayla-resources/">Ayla Resources</a></li>
<li><a id="devices-ayla-linux-agent-guide-ayla-templates" href="/devices/ayla-linux-agent/guide/ayla-templates/">Ayla Templates</a></li>
<li><a id="devices-ayla-linux-agent-guide-ayla-installation" href="/devices/ayla-linux-agent/guide/ayla-installation/">Ayla Installation</a></li>
<li><a id="devices-ayla-linux-agent-guide-testing" href="/devices/ayla-linux-agent/guide/testing/">Testing</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-tutorials" class="chapter" href="/devices/ayla-linux-agent/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-linux-agent-tutorials-explore-appd-code" href="/devices/ayla-linux-agent/tutorials/explore-appd-code/">Explore appd code</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-modify-appd" href="/devices/ayla-linux-agent/tutorials/modify-appd/">Modify appd</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-implement-green-led" href="/devices/ayla-linux-agent/tutorials/implement-green-led/">Implement Green_LED</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-implement-blue-button" href="/devices/ayla-linux-agent/tutorials/implement-blue-button/">Implement Blue_button</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-add-metadata" href="/devices/ayla-linux-agent/tutorials/add-metadata/">Add Metadata</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-add-red-button" href="/devices/ayla-linux-agent/tutorials/add-red-button/">Add Red_button</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-add-a-trigger" href="/devices/ayla-linux-agent/tutorials/add-a-trigger/">Add a Trigger</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-add-a-schedule" href="/devices/ayla-linux-agent/tutorials/add-a-schedule/">Add a Schedule</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-perform-ota-updates" href="/devices/ayla-linux-agent/tutorials/perform-ota-updates/">Perform OTA Updates</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-reference" class="chapter" href="/devices/ayla-linux-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-linux-agent-reference-agent-api" href="/devices/ayla-linux-agent/reference/agent-api/">Agent API</a></li>
<li><a id="devices-ayla-linux-agent-reference-configuration-file" href="/devices/ayla-linux-agent/reference/configuration-file/">Configuration File</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
