{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="devices-ayla-dynamic-gateway-agent-overview" class="book" href="/devices/ayla-dynamic-gateway-agent/overview/">Overview</a>
<img class="toggle" src="/assets/images/chevron-{{i}}-24.png">
<ol style="display:{{i}};">
<li><a id="devices-ayla-dynamic-gateway-agent-overview-introduction" href="/devices/ayla-dynamic-gateway-agent/overview/introduction/">Introduction</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-overview-directions" href="/devices/ayla-dynamic-gateway-agent/overview/directions/">Directions</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-overview-installation" href="/devices/ayla-dynamic-gateway-agent/overview/installation/">Installation</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-overview-registration" href="/devices/ayla-dynamic-gateway-agent/overview/registration/">Registration</a></li>
<li><a id="devices-ayla-dynamic-gateway-agent-overview-tests" href="/devices/ayla-dynamic-gateway-agent/overview/tests/">Tests</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-device-app" class="book" href="/devices/ayla-dynamic-gateway-agent/device-app/">Device Example</a>
<img class="toggle" src="/assets/images/chevron-{{e}}-24.png">
<ol style="display:{{e}};">
<li><a id="devices-ayla-dynamic-gateway-agent-device-app-introduction" href="/devices/ayla-dynamic-gateway-agent/device-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-simulator-gateway-app" class="book" href="/devices/ayla-dynamic-gateway-agent/simulator-gateway-app/">Simulator Example</a>
<img class="toggle" src="/assets/images/chevron-{{f}}-24.png">
<ol style="display:{{f}};">
<li><a id="devices-ayla-dynamic-gateway-agent-simulator-simulator-gateway-app-introduction" href="/devices/ayla-dynamic-gateway-agent/simulator-gateway-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-gateway-app" class="book" href="/devices/ayla-dynamic-gateway-agent/bluetooth-gateway-app/">Bluetooth Example</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-gateway-app-introduction" href="/devices/ayla-dynamic-gateway-agent/bluetooth-gateway-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-zigbee-gateway-app" class="book" href="/devices/ayla-dynamic-gateway-agent/zigbee-gateway-app/">Zigbee Example</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-zigbee-gateway-app-introduction" href="/devices/ayla-dynamic-gateway-agent/zigbee-gateway-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-multiprotocol-gateway-app" class="book" href="/devices/ayla-dynamic-gateway-agent/multiprotocol-gateway-app/">Multiprotocol Example</a>
<img class="toggle" src="/assets/images/chevron-{{g}}-24.png">
<ol style="display:{{g}};">
<li><a id="devices-ayla-dynamic-gateway-agent-bluetooth-multiprotocol-gateway-app-introduction" href="/devices/ayla-dynamic-gateway-agent/multiprotocol-gateway-app/introduction/">Introduction</a></li>
</ol>
</li>

<li><a id="devices-ayla-dynamic-gateway-agent-reference" class="book" href="/devices/ayla-dynamic-gateway-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-dynamic-gateway-agent-reference-agent-api" href="/devices/ayla-dynamic-gateway-agent/reference/agent-api/">Agent API</a></li>
</ol>
</li>

</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
