{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-integrated-agents-guide" class="chapter" href="/devices/ayla-integrated-agents/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-integrated-agents-guide-introduction" href="/devices/ayla-integrated-agents/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-integrated-agents-guide-ayla-account" href="/devices/ayla-integrated-agents/guide/ayla-account/">Ayla Account</a></li>
<li><a id="devices-ayla-integrated-agents-guide-create-a-template" href="/devices/ayla-integrated-agents/guide/create-a-template/">Create a template</a></li>
<li><a id="devices-ayla-integrated-agents-guide-install-espressif" href="/devices/ayla-integrated-agents/guide/install-espressif/">Install Espressif</a></li>
<li><a id="devices-ayla-integrated-agents-guide-install-ayla" href="/devices/ayla-integrated-agents/guide/install-ayla/">Install Ayla</a></li>
<li><a id="devices-ayla-integrated-agents-guide-explore-ayla" href="/devices/ayla-integrated-agents/guide/explore-ayla/">Explore Ayla</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-integrated-agents-tutorials" class="chapter" href="/devices/ayla-integrated-agents/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-integrated-agents-tutorials-modify-the-host-application" href="/devices/ayla-integrated-agents/tutorials/modify-the-host-application/">Modify the host application</a></li>
<li><a id="devices-ayla-integrated-agents-tutorials-run-the-host-application" href="/devices/ayla-integrated-agents/tutorials/run-the-host-application/">Run the host application</a></li>
<li><a id="devices-ayla-integrated-agents-tutorials-examine-source-code" href="/devices/ayla-integrated-agents/tutorials/examine-source-code/">Examine source code</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-integrated-agents-reference" class="chapter" href="/devices/ayla-integrated-agents/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-integrated-agents-reference-agent-api" href="/devices/ayla-integrated-agents/reference/agent-api/">Agent API</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
