<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu certification='active'}}

<!-- SIDENAV -->

<nav id="sidenav" class="certification">

<ul>
<li id="certification-architect"><a href="/content/certification/architect.html">Architect</a></li>
<li id="certification-cloud-integrator"><a href="/content/certification/cloud-integrator.html">Cloud Integrator</a></li>
<li id="certification-device-developer"><a href="/content/certification/device-developer.html">Device Developer</a></li>
<li id="certification-mobile-app-developer-android"><a href="/content/certification/mobile-app-developer-android.html">Mobile App Developer (Android)</a></li>
<li id="certification-mobile-app-developer-ios"><a href="/content/certification/mobile-app-developer-ios.html">Mobile App Developer (iOS)</a></li>
</ul>

</nav>

<!-- CONTENT  -->

<div id="content">

<div class="title">{{ title }}</div>
<hr/>

{{{ contents }}}

</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>