{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="cloud-ayla-datastream-service-guide" class="book" href="/cloud/ayla-datastream-service/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="cloud-ayla-datastream-service-guide-introduction" href="/cloud/ayla-datastream-service/guide/introduction/">Introduction</a></li>
<li><a id="cloud-ayla-datastream-service-guide-obtain-an-access-token" href="/cloud/ayla-datastream-service/guide/obtain-an-access-token/">Obtain an Access Token</a></li>
<li><a id="cloud-ayla-datastream-service-guide-obtain-a-stream-key" href="/cloud/ayla-datastream-service/guide/obtain-a-stream-key/">Obtain a Stream Key</a></li>
<li><a id="cloud-ayla-datastream-service-guide-create-a-websocket" href="/cloud/ayla-datastream-service/guide/create-a-websocket/">Create a WebSocket</a></li>
<li><a id="cloud-ayla-datastream-service-guide-deal-with-many-streams" href="/cloud/ayla-datastream-service/guide/deal-with-many-streams/">Deal with Many Streams</a></li>
</ol>
</li>
<li>
<a id="cloud-ayla-datastream-service-reference" class="book" href="/cloud/ayla-datastream-service/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="cloud-ayla-datastream-service-reference-ayla-dss-event-types" href="/cloud/ayla-datastream-service/reference/ayla-dss-event-types/">Ayla DSS Event Types</a></li>
<li><a id="cloud-ayla-datastream-service-reference-reference-2" href="/cloud/ayla-datastream-service/reference/reference-2/">Reference 2</a></li>
</ol>
</li>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
