{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="cloud-ayla-datastream-service-introduction" class="book" href="/cloud/ayla-datastream-service/introduction">Introduction</a>
<ol style="display:{{c}};">
<li><a id="cloud-ayla-datastream-service-introduction-create-a-template" href="/cloud/ayla-datastream-service/introduction/create-a-template">Create a template</a>
<li><a id="cloud-ayla-datastream-service-introduction-create-a-virtual-device" href="/cloud/ayla-datastream-service/introduction/create-a-virtual-device">Create a virtual device</a>
<li><a id="cloud-ayla-datastream-service-introduction-register-the-device" href="/cloud/ayla-datastream-service/introduction/register-the-device">Register the device</a>
<li><a id="cloud-ayla-datastream-service-introduction-create-an-access-rule" href="/cloud/ayla-datastream-service/introduction/create-an-access-rule">Create an access rule</a>
<li><a id="cloud-ayla-datastream-service-introduction-create-subscriptions" href="/cloud/ayla-datastream-service/introduction/create-subscriptions">Create subscriptions</a>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-dss-browser" class="book" href="/cloud/ayla-datastream-service/dss-browser/">DSS Browser</a>
<ol style="display:{{e}};">
<li><a id="cloud-ayla-datastream-service-dss-browser-installation" href="/cloud/ayla-datastream-service/dss-browser/installation">Installation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-browser-operation" href="/cloud/ayla-datastream-service/dss-browser/operation">Operation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-browser-source-code" href="/cloud/ayla-datastream-service/dss-browser/source-code">Source code</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-dss-collector" class="book" href="/cloud/ayla-datastream-service/dss-collector/">DSS Collector</a>
<ol style="display:{{d}};">
<li><a id="cloud-ayla-datastream-service-dss-collector-installation" href="/cloud/ayla-datastream-service/dss-collector/installation">Installation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-operation" href="/cloud/ayla-datastream-service/dss-collector/operation">Operation</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-source-code" href="/cloud/ayla-datastream-service/dss-collector/source-code">Source code</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-persist-to-file" href="/cloud/ayla-datastream-service/dss-collector/persist-to-file">Persist to file</a></li>
<li><a id="cloud-ayla-datastream-service-dss-collector-persist-to-database" href="/cloud/ayla-datastream-service/dss-collector/persist-to-database">Persist to database</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-event-types" class="book" href="/cloud/ayla-datastream-service/event-types">Event Types</a>
<ol style="display:{{b}};">
<li><a id="cloud-ayla-datastream-service-event-types-connectivity" href="/cloud/ayla-datastream-service/event-types/connectivity">connectivity</a></li>
<li><a id="cloud-ayla-datastream-service-event-types-datapoint" href="/cloud/ayla-datastream-service/event-types/datapoint">datapoint</a></li>
<li><a id="cloud-ayla-datastream-service-event-types-datapointack" href="/cloud/ayla-datastream-service/event-types/datapointack">datapointack</a></li>
<li><a id="cloud-ayla-datastream-service-event-types-location" href="/cloud/ayla-datastream-service/event-types/location">location</a></li>
<li><a id="cloud-ayla-datastream-service-event-types-registration" href="/cloud/ayla-datastream-service/event-types/registration">registration</a></li>
</ol>
</li>

<li><a id="cloud-ayla-datastream-service-websocket-api" class="book" href="/cloud/ayla-datastream-service/websocket-api/">WebSocket API</a></li>

<li><a id="cloud-ayla-datastream-service-rest-api" class="book" href="/cloud/ayla-datastream-service/rest-api">REST API</a>
<ol style="display:{{a}};">
<li><a id="cloud-ayla-datastream-service-rest-api-create-dss-subscription" href="/cloud/ayla-datastream-service/rest-api/create-dss-subscription">createDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-rest-api-delete-dss-subscription" href="/cloud/ayla-datastream-service/rest-api/delete-dss-subscription">deleteDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-rest-api-get-dss-last-seqid" href="/cloud/ayla-datastream-service/rest-api/get-dss-last-seqid">getDssLastSeqId</a></li>
<li><a id="cloud-ayla-datastream-service-rest-api-get-dss-subscription" href="/cloud/ayla-datastream-service/rest-api/get-dss-subscription">getDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-rest-api-get-dss-subscriptions" href="/cloud/ayla-datastream-service/rest-api/get-dss-subscriptions">getDssSubscriptions</a></li>
</ol>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
