{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="cloud-ayla-datastream-service-introduction" href="/cloud/ayla-datastream-service/introduction">Introduction</a></li>
<li><a id="cloud-ayla-datastream-service-operation" href="/cloud/ayla-datastream-service/operation/">Operation</a></li>
<li><a id="cloud-ayla-datastream-service-api" class="book" href="/cloud/ayla-datastream-service/api">API</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{a}};">
<li><a id="cloud-ayla-datastream-service-api-create-dss-subscription" href="/cloud/ayla-datastream-service/api/create-dss-subscription">createDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-delete-dss-subscription" href="/cloud/ayla-datastream-service/api/delete-dss-subscription">deleteDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-get-dss-subscription" href="/cloud/ayla-datastream-service/api/get-dss-subscription">getDssSubscription</a></li>
<li><a id="cloud-ayla-datastream-service-api-get-dss-subscriptions" href="/cloud/ayla-datastream-service/api/get-dss-subscriptions">getDssSubscriptions</a></li>
</ol>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
