{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="concepts-ap-mode" href="/concepts/ap-mode/">AP Mode</a></li>
<li><a id="concepts-ayla-cloud" href="/concepts/ayla-cloud/">Ayla Cloud</a></li>
<li><a id="concepts-ayla-device-platform-for-linux" href="/concepts/ayla-device-platform-for-linux/">Ayla Device Platform for Linux</a></li>
<li><a id="concepts-ayla-linux-agent" href="/concepts/ayla-linux-agent/">Ayla Linux Agent</a></li>
<li><a id="concepts-ayla-iq" href="/concepts/ayla-iq/">Ayla IQ</a></li>
<li><a id="concepts-device-registration" href="/concepts/device-registration/">Device Registration</a></li>
<li><a id="concepts-digital-twin" href="/concepts/digital-twin/">Digital Twin</a></li>
<li><a id="concepts-host-application" href="/concepts/host-application/">Host Application</a></li>
<li><a id="concepts-metadata" href="/concepts/metadata/">Metadata</a></li>
<li><a id="concepts-property" href="/concepts/property/">Property</a></li>
<li><a id="concepts-schedule" href="/concepts/schedule/">Schedule</a></li>
<li><a id="concepts-template" href="/concepts/template/">Template</a></li>
<li><a id="concepts-wi-fi-setup" href="/concepts/wi-fi-setup/">Wi-Fi Setup</a></li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
