{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-linux-agent-guide" class="book" href="/devices/ayla-linux-agent/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-linux-agent-guide-introduction" href="/devices/ayla-linux-agent/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-linux-agent-guide-installation" href="/devices/ayla-linux-agent/guide/installation/">Installation</a></li>
<li><a id="devices-ayla-linux-agent-guide-registration" href="/devices/ayla-linux-agent/guide/registration/">Registration</a></li>
<li><a id="devices-ayla-linux-agent-guide-tests" href="/devices/ayla-linux-agent/guide/tests/">Tests</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-tutorials" class="book" href="/devices/ayla-linux-agent/tutorials/">Tutorials</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-linux-agent-tutorials-building-the-host-app" href="/devices/ayla-linux-agent/tutorials/building-the-host-app/">Building the Host App</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-exploring-the-host-app" href="/devices/ayla-linux-agent/tutorials/exploring-the-host-app/">Exploring the Host App</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-wiring-the-green-led" href="/devices/ayla-linux-agent/tutorials/wiring-the-green-led/">Wiring the Green LED</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-wiring-the-blue-button" href="/devices/ayla-linux-agent/tutorials/wiring-the-blue-button/">Wiring the Blue Button</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-adding-a-red-button" href="/devices/ayla-linux-agent/tutorials/adding-a-red-button/">Adding a Red Button</a></li>
<li><a id="devices-ayla-linux-agent-tutorials-performing-ota-updates" href="/devices/ayla-linux-agent/tutorials/performing-ota-updates/">Performing OTA Updates</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-reference" class="book" href="/devices/ayla-linux-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-linux-agent-reference-ayla-linux-agent-api" href="/devices/ayla-linux-agent/reference/ayla-linux-agent-api/">Ayla Linux Agent API</a></li>
<li><a id="devices-ayla-linux-agent-reference-configuration-file" href="/devices/ayla-linux-agent/reference/configuration-file/">Configuration File</a></li>
</ol>
</li>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
