{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li>
<a id="devices-ayla-linux-agent-guide" class="book" href="/devices/ayla-linux-agent/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="devices-ayla-linux-agent-guide-introduction" href="/devices/ayla-linux-agent/guide/introduction/">Introduction</a></li>
<li><a id="devices-ayla-linux-agent-guide-installation" href="/devices/ayla-linux-agent/guide/installation/">Installation</a></li>
<li><a id="devices-ayla-linux-agent-guide-registration" href="/devices/ayla-linux-agent/guide/registration/">Registration</a></li>
<li><a id="devices-ayla-linux-agent-guide-properties" href="/devices/ayla-linux-agent/guide/properties/">Properties</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-tutorial" class="book" href="/devices/ayla-linux-agent/tutorial/">Tutorial</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="devices-ayla-linux-agent-tutorial-introduction" href="/devices/ayla-linux-agent/tutorial/introduction/">Introduction</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-programming" href="/devices/ayla-linux-agent/tutorial/programming/">Programming</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-adding-an-led" href="/devices/ayla-linux-agent/tutorial/adding-an-led/">Adding an LED</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-adding-a-button" href="/devices/ayla-linux-agent/tutorial/adding-a-button/">Adding a Button</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-debugging" href="/devices/ayla-linux-agent/tutorial/debugging/">Debugging</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-ota-updates" href="/devices/ayla-linux-agent/tutorial/ota-updates/">OTA Updates</a></li>
<li><a id="devices-ayla-linux-agent-tutorial-using-acli" href="/devices/ayla-linux-agent/tutorial/using-acli/">Using ACLI</a></li>
</ol>
</li>
<li>
<a id="devices-ayla-linux-agent-reference" class="book" href="/devices/ayla-linux-agent/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="devices-ayla-linux-agent-reference-api" href="/devices/ayla-linux-agent/reference/api/">API</a></li>
<li><a id="devices-ayla-linux-agent-reference-raspberry-pi" href="/devices/ayla-linux-agent/reference/raspberry-pi/">Raspberry Pi</a></li>
<li><a id="devices-ayla-linux-agent-reference-wiring-pi" href="/devices/ayla-linux-agent/reference/wiring-pi/">Wiring Pi</a></li>
<li><a id="devices-ayla-linux-agent-reference-additional-links" href="/devices/ayla-linux-agent/reference/additional-links/">Additional Links</a></li>
</ol>
</li>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
