{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="examples-ayla-proxy-server-introduction" href="/examples/ayla-proxy-server/introduction">Introduction</a></li>
<li><a id="examples-ayla-proxy-server-installation" href="/examples/ayla-proxy-server/installation">Installation</a></li>
<li><a id="examples-ayla-proxy-server-operation" href="/examples/ayla-proxy-server/operation">Operation</a></li>

<li>
<a id="examples-ayla-proxy-server-services" class="book" href="/examples/ayla-proxy-server/services">Services</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{a}};">
<li><a id="examples-ayla-proxy-server-services-create-datapoint" href="/examples/ayla-proxy-server/services/create-datapoint">Create Datapoint</a></li>
<li><a id="examples-ayla-proxy-server-services-create-device" href="/examples/ayla-proxy-server/services/create-device">Create Device</a></li>
<li><a id="examples-ayla-proxy-server-services-create-dss-subscription" href="/examples/ayla-proxy-server/services/create-dss-subscription">Create DSS Subscription</a></li>
<li><a id="examples-ayla-proxy-server-services-delete-device" href="/examples/ayla-proxy-server/services/delete-device">Delete Device</a></li>
<li><a id="examples-ayla-proxy-server-services-get-device" href="/examples/ayla-proxy-server/services/get-device">Get Device</a></li>
<li><a id="examples-ayla-proxy-server-services-get-devices" href="/examples/ayla-proxy-server/services/get-devices">Get Devices</a></li>
<li><a id="examples-ayla-proxy-server-services-get-properties" href="/examples/ayla-proxy-server/services/get-properties">Get Properties</a></li>
<li><a id="examples-ayla-proxy-server-services-get-property" href="/examples/ayla-proxy-server/services/get-property">Get Property</a></li>
<li><a id="examples-ayla-proxy-server-services-login" href="/examples/ayla-proxy-server/services/login">Login</a></li>
<li><a id="examples-ayla-proxy-server-services-logout" href="/examples/ayla-proxy-server/services/logout">Logout</a></li>
</ol>
</li>
<li><a id="examples-ayla-proxy-server-source-code" href="/examples/ayla-proxy-server/source">Source</a></li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
