<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu feedback='active'}}

<!-- SIDENAV -->

<nav id="sidenav" class="feedback" style="display:none;">

<p>This is the sidenav.</p>

</nav>

<!-- CONTENT  -->

<div id="content" class="feedback">

<div class="title">{{ title }}</div>
<hr/>

<p>If your feedback is specific to a particular page, please navigate to that page, and then click Feedback in the Top Menu so the website can accurately populate the Category and Item fields in the form below.</p>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" id="first-name" placeholder="" required>
    </div>
    <div class="form-group col-md-6">
      <label for="last-name">Last Name</label>
      <input type="text" class="form-control" id="last-name" placeholder="" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="" required>
    </div>
    <div class="form-group col-md-6">
      <label for="company">Company</label>
      <input type="text" class="form-control" id="company" placeholder="" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="category">Category</label>
      <select id="category" class="form-control" required>
        <option value="">Choose</option> 
        <option value="apps">Apps</option> 
        <option value="certification">Certification</option>
        <option value="cloud">Cloud</option>
        <option value="devices">Devices</option>
        <option value="feedback">Feedback</option>
        <option value="general">General</option>
        <option value="glossary">Glossary</option>
        <option value="overview">Overview</option>
        <option value="training">Training</option>
      </select>
    </div>
    <div class="form-group col-md-8">
      <label for="text">Item</label>
      <input type="text" class="form-control" id="item" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="5" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>