{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>

<li><a id="foobar-project-guide" class="book" href="/foobar-project/guide/">Guide</a>
<img class="toggle" src="/assets/images/chevron-{{a}}-24.png">
<ol style="display:{{a}};">
<li><a id="foobar-project-guide-introduction" href="/foobar-project/guide/introduction/">Introduction</a></li>
<li><a id="foobar-project-guide-installation" href="/foobar-project/guide/installation/">Installation</a></li>
<li><a id="foobar-project-guide-operation" href="/foobar-project/guide/operation/">Operation</a></li>
</ol>
</li>

<li><a id="foobar-project-tutorial" class="book" href="/foobar-project/tutorial/">Tutorial</a>
<img class="toggle" src="/assets/images/chevron-{{b}}-24.png">
<ol style="display:{{b}};">
<li><a id="foobar-project-tutorial-adding-a-foo" href="/foobar-project/tutorial/adding-a-foo/">Adding a foo</a></li>
<li><a id="foobar-project-tutorial-adding-a-bar" href="/foobar-project/tutorial/adding-a-bar/">Adding a bar</a></li>
</ol>
</li>

<li><a id="foobar-project-reference" class="book" href="/foobar-project/reference/">Reference</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{c}};">
<li><a id="foobar-project-reference-configuration" href="/foobar-project/reference/configuration/">Configuration</a></li>
<li><a id="foobar-project-reference-api" href="/foobar-project/reference/api/">API</a></li>
</ol>
</li>

</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-foobar' }}
