{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li id="glossary-ap-mode"><a href="/glossary/ap-mode/">AP Mode</a></li>
<li id="glossary-ayla-cloud"><a href="/glossary/ayla-cloud/">Ayla Cloud</a></li>
<li id="glossary-ayla-device-platform-for-linux"><a href="/glossary/ayla-device-platform-for-linux/">Ayla Device Platform for Linux</a></li>
<li id="glossary-ayla-linux-agent"><a href="/glossary/ayla-linux-agent/">Ayla Linux Agent</a></li>
<li id="glossary-ayla-linux-agent"><a href="/glossary/property/">Property</a></li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
