<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu glossary='active'}}

<!-- SIDENAV -->

<nav id="sidenav" class="glossary">

<ul>
<li id="glossary-agent"><a href="/content/glossary/agent.html">Agent</a></li>
<li id="glossary-alexa-integration-framework"><a href="/content/glossary/alexa-integration-framework.html">Alexa Integration Framework</a></li>
<li id="glossary-aura"><a href="/content/glossary/aura.html">Aura</a></li>
<li id="glossary-auto-sync"><a href="/content/glossary/auto-sync.html">Auto Sync</a></li>
<li id="glossary-ayla-android-agent"><a href="/content/glossary/ayla-android-agent.html">Ayla Android Agent</a></li>
<li id="glossary-ayla-cellular-production-module"><a href="/content/glossary/ayla-cellular-production-module.html">Ayla Cellular Production Module</a></li>
<li id="glossary-ayla-cloud"><a href="/content/glossary/ayla-cloud.html">Ayla Cloud</a></li>
<li id="glossary-ayla-cloud-agent"><a href="/content/glossary/ayla-cloud-agent.html">Ayla Cloud Agent</a></li>
<li id="glossary-ayla-cloud-service"><a href="/content/glossary/ayla-cloud-service.html">Ayla Cloud Service (ACS)</a></li>
<li id="glossary-ayla-design-kit"><a href="/content/glossary/ayla-design-kit.html">Ayla Design Kit</a></li>
<li id="glossary-ayla-device-agent"><a href="/content/glossary/ayla-device-agent.html">Ayla Device Agent (ADA)</a></li>
<li id="glossary-ayla-device-service"><a href="/content/glossary/ayla-device-service.html">Ayla Device Service (ADS)</a></li>
<li id="glossary-ayla-dynamic-gateway-agent"><a href="/content/glossary/ayla-dynamic-gateway-agent.html">Ayla Dynamic Gateway Agent</a></li>
<li id="glossary-ayla-evaluation-board"><a href="/content/glossary/ayla-evaluation-board.html">Ayla Evaluation Board (Ayla EVB)</a></li>
<li id="glossary-ayla-integrated-agent"><a href="/content/glossary/ayla-integrated-agent.html">Ayla Integrated Agent</a></li>
<li id="glossary-ayla-linux-agent"><a href="/content/glossary/ayla-linux-agent.html">Ayla Linux Agent</a></li>
<li id="glossary-ayla-notification-service"><a href="/content/glossary/ayla-notification-service.html">Ayla Notification Service (ANS)</a></li>
<li id="glossary-ayla-oem-dashboard"><a href="/content/glossary/ayla-oem-dashboard.html">Ayla OEM Dashboard</a></li>
<li id="glossary-ayla-portable-agent"><a href="/content/glossary/ayla-portable-agent.html">Ayla Portable Agent</a></li>
<li id="glossary-ayla-static-gateway-agent"><a href="/content/glossary/ayla-static-gateway-agent.html">Ayla Static Gateway Agent</a></li>
<li id="glossary-ayla-web-portal"><a href="/content/glossary/ayla-web-portal.html">Ayla Web Portal (AWEB)</a></li>
<li id="glossary-ayla-wi-fi-production-module"><a href="/content/glossary/ayla-wi-fi-production-module.html">Ayla Wi-Fi Production Module</a></li>
<li id="glossary-base-type"><a href="/content/glossary/base-type.html">Base Type</a></li> 
<li id="glossary-cloud"><a href="/content/glossary/cloud.html">Cloud</a></li>
<li id="glossary-configuration"><a href="/content/glossary/configuration.html">Configuration</a></li>
<li id="glossary-connectivity"><a href="/content/glossary/connectivity.html">Connectivity</a></li>
<li id="glossary-datapoint"><a href="/content/glossary/datapoint.html">Datapoint</a></li>
<li id="glossary-datapoint-echo"><a href="/content/glossary/datapoint-echo.html">Datapoint Echo</a></li>
<li id="glossary-datastream"><a href="/content/glossary/datastream.html">DataStream</a></li>
<li id="glossary-device"><a href="/content/glossary/device.html">Device</a></li>
<li id="glossary-driver"><a href="/content/glossary/driver.html">Driver</a></li>
<li id="glossary-end-device"><a href="/content/glossary/end-device.html">End Device</a></li>
<li id="glossary-factory-action"><a href="/content/glossary/factory-action.html">Factory Action</a></li>
<li id="glossary-field-unit"><a href="/content/glossary/field-unit.html">Field Unit</a></li>
<li id="glossary-gateway"><a href="/content/glossary/gateway.html">Gateway</a></li>
<li id="glossary-gateway-agent"><a href="/content/glossary/gateway-agent.html">Gateway Agent</a></li>
<li id="glossary-group"><a href="/content/glossary/group.html">Group</a></li>
<li id="glossary-host-image"><a href="/content/glossary/host-image.html">Host Image</a></li>
<li id="glossary-host-software-version"><a href="/content/glossary/host-software-version.html">Host Software Version</a></li>
<li id="glossary-insights"><a href="/content/glossary/insights.html">Insights</a></li>
<li id="glossary-lan-key"><a href="/content/glossary/lan-key.html">LAN Key</a></li>
<li id="glossary-lan-mode"><a href="/content/glossary/lan-mode.html">LAN Mode</a></li>
<li id="glossary-production-module"><a href="/content/glossary/production-module.html">Production Module</a></li>
<li id="glossary-software-agent"><a href="/content/glossary/software-agent.html">Software Agent</a></li>
</ul>

</nav>

<!-- CONTENT  -->

<div id="content">

<div class="title">{{ title }}</div>
<hr/>

{{{ contents }}}

</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>