<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu home='active'}}

<!-- SIDENAV -->

<nav id="sidenav" class="home" style="display:none;">

<p>Select from top menu</p>

</nav>

<!-- CONTENT  -->

<div id="content" class="home">

<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-12">
<h3>Welcome</h3>
<p>Created by engineers for engineers, this <a href="https://www.aylanetworks.com/">Ayla Networks</a> site contains technical guides, references, API docs, tutorials, tips, code samples, diagrams, definitions, videos, and downloads.</p>
<p><a href="https://github.com/MattAtAyla/ayla-core-content/issues">Submit a website or document issue</a>.</p>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 col-12">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<h3>Working with the Ayla Platform</h3>
<p>The documents on this site explain how to connect your device to the Ayla Cloud, create a model of your device in the cloud, write/deploy a mobile or web application to monitor/control your device via the model, and integrate device data with business systems external to the Ayla Cloud. The video provides a high-level overview.</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" style="padding: 0 12px 12px 12px;" src="https://www.youtube.com/embed/qmMH4I_RVno?rel=0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-12">
<h3>Devices</h3>
<p>You can connect your device to the Ayla Cloud in three ways: Integrate it with an Ayla Production Module (circuit board) via SPI or UART; link the application that runs on it with an Ayla Software Agent; or connect it to an Ayla Gateway. For more information, see <a href="/content/devices">Devices</a>.</p>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 col-12">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<h3>Getting Started</h3>
<p>Many firmware engineers start by experimenting with an Ayla Design Kit like the one pictured here. See the <a href="/content/devices/pm/overview.html">Production Modules</a> guide for step-by-step instructions. Arduino boards and Raspberry Pies are useful for experimenting with Ayla agents and gateways.</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<img class="img-fluid"" src="images/ayla-design-kit.jpg">
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-12">
<h3>sss</h3>
<p>sss</p>
</div>
<div class="col-lg-8 col-md-12 col-sm-12 col-12">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<h3>sss</h3>
<p>sss</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-12">
<h3>sss</h3>
<p>sss</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<img class="img-fluid" src="images/sunrise.jpg">
</div>
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<img class="img-fluid" src="images/sunrise.jpg">
</div>
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
</div>
</div>

{{{ contents }}}

</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>