<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu home='active'}}

<!-- SIDENAV -->

<!-- CONTENT  -->

<div id="content" class="home">

<div class="row" style="margin-bottom: 36px;">
<div class="col-12 text-center">
<a href="https://www.aylanetworks.com/"><img src="/images/ayla-networks-logo-leaf.jpg" width="220px"></a>
<div style="color: darkgreen;">IoT Platform</div>
</div>
</div>

<div id="home-big" class="row">
<div class="col-12 text-center">
<img src="/images/tree-core-content-labels.jpg" width="500px">
</div>
</div>

<div id="home-small" class="row">
<div class="col-6">
<img src="/images/tree-core-content.jpg" width="180" style="padding: 2px 12px;">
</div>
<div class="col-6" style="color: #864313; font-weight: bold;">
<div class="row"><div class="col-12">Guides</div></div>
<div class="row"><div class="col-12">Tutorials</div></div>
<div class="row"><div class="col-12">References</div></div>
<div class="row"><div class="col-12">API Docs</div></div>
<div class="row"><div class="col-12">Code Samples</div></div>
<div class="row"><div class="col-12">Definitions</div></div>
</div>
</div>

</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>