<!DOCTYPE html>
<html>

<head>
{{> head }}
</head>

<body>
<div class="wrapper">

<!-- MENU -->

{{> menu home='active'}}

<!-- SIDENAV -->

<nav id="sidenav" class="home" style="display:none;">

<p>Select from top menu</p>

</nav>

<!-- CONTENT  -->

<div id="content" class="home">

<div class="row spaceAfterRow">
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Welcome to Ayla Core Content by <a href="https://www.aylanetworks.com/">Ayla Networks</a>.<p>
<p>Created by engineers for engineers, this site contains technical guides, references, API docs, tutorials, tips, code samples, diagrams, definitions, videos, and downloads.</p>
<p>Click on the Top Menu to get started.</p>
<p><a href="https://github.com/MattAtAyla/ayla-core-content/issues">Your feedback is welcome</a>.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>With the Ayla IoT Platform, you can:
<ol>
<li>Connect your device to the Ayla Cloud.</li>
<li>Create a model of your device in the cloud.</li>
<li>Deploy a mobile or web application to monitor/control your device via the model.</li>
<li>Integrate device data with other business systems.</li>
</ol>
<p>Watch the video for a high-level overview.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qmMH4I_RVno?rel=0" allowfullscreen></iframe>
</div>
</div>
</div>

<div class="row spaceAfterRow">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<img class="img-fluid" src="images/sunrise.jpg">
</div>
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
</div>
</div>

<div class="row spaceAfterRow">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<img class="img-fluid" src="images/sunrise.jpg">
</div>
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
</div>
</div>

<div class="row spaceAfterRow">
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
<img class="img-fluid" src="images/sunrise.jpg">
</div>
<div class="col-lg-8 col-md-6 col-sm-6 col-12">
<div class="row">
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
</div>
</div>

</div>

<!-- JAVASCRIPT -->

{{> js }}

</div>
</body>
</html>