{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">

<form id="connect-form">

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="service">Service</label>
      <select id="service" class="form-control form-control-sm" required>
        <option value=''>Select</option> 
        <option value='{"region":"cn","deployment":"dev"}'>China : Dev</option> 
        <option value='{"region":"cn","deployment":"field"}'>China : Field</option> 
        <option value='{"region":"eu","deployment":"field"}'>Europe : Field</option> 
        <option value='{"region":"us","deployment":"dev"}'>United States : Dev</option> 
        <option value='{"region":"us","deployment":"staging"}'>United States : Staging</option> 
        <option value='{"region":"us","deployment":"field"}'>United States : Field</option> 
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="client-type">Client Type</label>
      <select id="client-type" class="form-control form-control-sm" required>
        <option value="">Select</option> 
        <option  value="cloud">Cloud</option>
        <option  value="mobile">Mobile</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="event-type">Event Type</label>
      <select id="event-type" class="form-control form-control-sm" required>
        <option value="">Select</option> 
        <option  value="connectivity">Connectivity</option>
        <option  value="registration">Registration</option>
        <option  value="datapoint">Datapoint</option>
        <option  value="datapointack">Datapoint Ack</option>
        <option  value="location">Location</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="event-type">OEM Model</label>
      <input type="text" class="form-control form-control-sm" id="oem-model" value="*" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="event-type">DSN</label>
      <input type="text" class="form-control form-control-sm" id="dsn" placeholder="Leave blank for all devices">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="event-type">Property Name</label>
      <input type="text" class="form-control form-control-sm" id="property-name" value="*" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <button id="connect-submit" type="submit" class="btn btn-secondary btn-sm btn-block">Connect</button>
    </div>
    <div class="form-group col-md-6">
      <button id="connect-disconnect" type="button" class="btn btn-secondary btn-sm btn-block">Disconnect</button>
    </div>
  </div>

</form>

</nav>
<!-- END SIDENAV -->

<!-- BEGIN CONTENT  -->
<div id="content" class="page-with-sidebar">

<!-- BEGIN CONTENT TITLE -->
<div id="content-title" style="display: {{titleDisplay}};">
<span>{{ title }}</span>
<hr/>
</div>
<!-- END CONTENT TITLE -->
{{{ contents }}}
</div>
<!-- END CONTENT  -->

<!-- BEGIN JAVASCRIPT -->
{{> js }}
<script src="/assets/scripts/dssclient.js"></script>
<!-- END JAVASCRIPT -->

</div>
<!-- END WRAPPER -->

</body>
<!-- END BODY -->

</html>
