{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
  <div id="controls">

    <div class="row">
      <div class="form-group col-md-12">
        <label><a data-toggle="collapse" href="#configure-event-server">Configure event server</a></label>
        <div class="collapse sidenav-widget" id="configure-event-server">
          <div class="row">
            <div class="form-group col-md-12">
              <div class="border rounded" style="padding:6px;">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="datapointack" id="activate-server-checkbox">
                  <label class="form-check-label" for="activate-server-checkbox">Activate Server</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label><a data-toggle="collapse" href="#configure-next-event-stream">Configure next event stream</a></label>
        <div class="collapse sidenav-widget" id="configure-next-event-stream">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="service">Service</label>
              <select id="service" class="form-control form-control-sm" required>
                <option value='{"region":"cn","deployment":"dev"}'>China : Dev</option> 
                <option value='{"region":"cn","deployment":"field"}'>China : Field</option> 
                <option value='{"region":"eu","deployment":"field"}'>EU : Field</option> 
                <option value='{"region":"us","deployment":"dev"}' selected>US : Dev</option> 
                <option value='{"region":"us","deployment":"staging"}'>US : Staging</option> 
                <option value='{"region":"us","deployment":"field"}'>US : Field</option> 
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="client-type">Client Type</label>
              <select id="client-type" class="form-control form-control-sm" required>
                <option value="cloud">Cloud</option>
                <option value="mobile" selected>Mobile</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="oem-model">OEM Model</label>
              <input id="oem-model" type="text" class="form-control form-control-sm" value="*" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="dsn">DSN</label>
              <input id="dsn" type="text" class="form-control form-control-sm" placeholder="Leave blank for all devices">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="property-name">Property Name</label>
              <input id="property-name" type="text" class="form-control form-control-sm" value="*" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label><a data-toggle="collapse" href="#open-close-event-streams">Open/close event streams</a></label>
        <div class="collapse show sidenav-widget" id="open-close-event-streams">
          <div class="row">
            <div class="form-group col-md-12">
              <div id="select-events" class="border rounded" style="padding:6px;">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="connectivity" id="connectivity-checkbox">
                  <label class="form-check-label" for="connectivity-checkbox">Connectivity</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="datapoint" id="datapoint-checkbox">
                  <label class="form-check-label" for="datapoint-checkbox">Datapoint</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="datapointack" id="datapointack-checkbox">
                  <label class="form-check-label" for="datapointack-checkbox">Datapoint Ack</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="location" id="location-checkbox">
                  <label class="form-check-label" for="location-checkbox">Location</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" value="registration" id="registration-checkbox">
                  <label class="form-check-label" for="registration-checkbox">Registration</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label><a data-toggle="collapse" href="#change-property-values">Change property values</a></label>
        <div class="collapse show sidenav-widget" id="change-property-values">
          <div class="row">
            <div class="form-group col-md-12">
              <label for="select-devices">Device</label>
              <select id="select-devices" class="form-control form-control-sm"></select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="select-properties">property</label>
              <select id="select-properties" class="form-control form-control-sm"></select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Value</label>
              <div id="value-wrapper"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
<!-- END SIDENAV -->

<!-- BEGIN CONTENT  -->
<div id="content" class="page-with-sidebar">

<!-- BEGIN CONTENT TITLE -->
<div id="content-title" style="display: {{titleDisplay}};">
<span>{{ title }}</span>
<hr/>
</div>
<!-- END CONTENT TITLE -->
{{{ contents }}}
</div>
<!-- END CONTENT  -->

<!-- BEGIN JAVASCRIPT -->
{{> js }}
<script src="/assets/scripts/ayla.js"></script>
<script src="/assets/scripts/events.js"></script>
<script src="/assets/scripts/devices.js"></script>
<!-- END JAVASCRIPT -->

</div>
<!-- END WRAPPER -->

</body>
<!-- END BODY -->

</html>
