{{> top }}

<!-- BEGIN CONTENT  -->
<div id="content" class="page-full-width">

<!-- BEGIN CONTENT TITLE -->
<div id="content-title">
<span>{{ title }}</span>
<hr/>
</div>
<!-- END CONTENT TITLE -->

<div class="row">
<div class="col-md-4 text-center"><a href="{{guideUrl}}">
<div class="book-tile background-ocean">
<img src="/assets/images/book-white.png">Guide</div></a></div>
<div class="col-md-4 text-center"><a href="{{tutorialUrl}}">
<div class="book-tile background-forest-green">
<img src="/assets/images/book-white2.png">Tutorial</div></a></div>
<div class="col-md-4 text-center"><a href="{{referenceUrl}}">
<div class="book-tile background-leather">
<img src="/assets/images/books-white.png">Reference</div></a></div>
</div>

{{{ contents }}}

</div>
<!-- END CONTENT  -->

<!-- BEGIN JAVASCRIPT -->
{{> js }}
<!-- END JAVASCRIPT -->

</div>
<!-- END WRAPPER -->

</body>
<!-- END BODY -->

</html>
