{{> top }}

<!-- BEGIN SIDENAV -->
<nav id="sidenav">
<ul>
<li><a id="utilities-ayla-proxy-server-introduction" href="/utilities/ayla-proxy-server/introduction">Introduction</a></li>
<li><a id="utilities-ayla-proxy-server-installation" href="/utilities/ayla-proxy-server/installation">Installation</a></li>
<li><a id="utilities-ayla-proxy-server-operation" href="/utilities/ayla-proxy-server/operation">Operation</a></li>

<li>
<a id="utilities-ayla-proxy-server-api" class="book" href="/utilities/ayla-proxy-server/api">API</a>
<img class="toggle" src="/assets/images/chevron-{{c}}-24.png">
<ol style="display:{{a}};">
<li><a id="utilities-ayla-proxy-server-api-create-datapoint" href="/utilities/ayla-proxy-server/api/create-datapoint">createDatapoint</a></li>
<li><a id="utilities-ayla-proxy-server-api-create-dss-subscription" href="/utilities/ayla-proxy-server/api/create-dss-subscription">createDssSubscription</a></li>
<li><a id="utilities-ayla-proxy-server-api-delete-dss-subscription" href="/utilities/ayla-proxy-server/api/delete-dss-subscription">deleteDssSubscription</a></li>
<li><a id="utilities-ayla-proxy-server-api-get-device" href="/utilities/ayla-proxy-server/api/get-device">getDevice</a></li>
<li><a id="utilities-ayla-proxy-server-api-get-devices" href="/utilities/ayla-proxy-server/api/get-devices">getDevices</a></li>
<li><a id="utilities-ayla-proxy-server-api-get-dss-subscriptions" href="/utilities/ayla-proxy-server/api/get-dss-subscriptions">getDssSubscriptions</a></li>
<li><a id="utilities-ayla-proxy-server-api-get-properties" href="/utilities/ayla-proxy-server/api/get-properties">getProperties</a></li>
<li><a id="utilities-ayla-proxy-server-api-get-property" href="/utilities/ayla-proxy-server/api/get-property">getProperty</a></li>
<li><a id="utilities-ayla-proxy-server-api-login" href="/utilities/ayla-proxy-server/api/login">login</a></li>
<li><a id="utilities-ayla-proxy-server-api-logout" href="/utilities/ayla-proxy-server/api/logout">logout</a></li>
</ol>
</li>
</ul>
</nav>
<!-- END SIDENAV -->

{{> bottom pageType='page-with-sidebar' }}
