body {padding-top: 5rem;}

.navbar {height:62px;}

.navbar-brand {font-size: 100%;}

h3 {font-size: 100%; font-weight: bold; color: black;}

.collapsible:hover {color: gray; cursor: pointer;}

label {font-weight: normal; font-size:90%; color: #20b2aa;}

/* message box */
#msg-box {background: red; padding:12px; margin-bottom:16px; color:white;}
#msg-box span {padding-left: 16px;}

/* table */
table {width: 100%;}
table th, table td {border-collapse: collapse; vertical-align:top;}
table {border: 1px solid lightgray;}
table th {border-bottom: 1px solid lightgray;}
table td {border-top: 1px solid lightgray;}
table th, table td {padding: 3px 4px;}
table th {font-size:90%; font-weight: normal; color: black;}
table td {font-size:90%; font-weight: normal; color: gray;}
table tr.summary td {cursor: pointer;}
table tr.details td {border-color: white;}
table tr.details td pre {
  background: #333333;
  padding: 6px;
  border: none;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 85%;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  margin-bottom: 4px;
  margin-right: 4px;
}
table tr th:nth-child(1) {width:24px;}
table tr th:nth-child(2) {width:42px;}

/* table for event streams */
#event-streams th:nth-child(4), 
#event-streams th:nth-child(5),
#event-streams .numEvents, 
#event-streams .numHBs {width:60px; text-align: right;}

/* link buttons */
.link-btn {
  color: #20b2aa;
  cursor: pointer;
  font-size: 85%;
  margin-right: 12px;
}
.link-btn:hover {color: #26d9d0;}
.link-btns {margin-bottom: .5rem;}

