div.cmpt {
  background-color: #dae7f1;
  /*background-image: url("/assets/images/white-texture.jpg");
  background-repeat: repeat;*/
  padding:12px 12px 16px 12px; 
  border-radius: 5px; 
  margin:12px 0px;
  /*box-shadow: 3px 3px 3px #edf3f8;*/
}

@media (min-width: 576px) {
  div.cmpt form input, div.cmpt form select {max-width: 400px;}
}

div.cmpt form ol li div.label {margin: 9px 0px;}

div.cmpt h3 {
  margin-top: 0px !important;
  color: #396a93 !important;
  font-weight: bold;
}

div.cmpt h3:before {
  display: none !important;
  content: "";
  margin-top: 0;
  height: 0;
  visibility: hidden;
}

div.cmpt table {width: 100% !important; margin-bottom: 0rem !important; background:white;}
div.cmpt table th, div.cmpt table td {border-collapse: collapse; vertical-align:top;}

div.cmpt table {border:1px double #dae7f1 !important;}
div.cmpt table th {border: 1px double #dae7f1 !important;}
div.cmpt table td {border: 1px double #dae7f1 !important;}

div.cmpt table th, div.cmpt table td {padding: 3px 4px;}
div.cmpt table th {font-size:90%; font-weight: normal; color: black;}
div.cmpt table td {font-size:90%; font-weight: normal; color: gray;}
div.cmpt table tr.summary td {cursor: pointer;}
div.cmpt table tr.details td {border-color: white; padding:0px !important;}
div.cmpt table tr.details td pre {
  background: #333333;
  padding: 6px;
  border: none;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 85%;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  margin: 0px !important;
}
div.cmpt table tr th:nth-child(1) {width:24px;}
div.cmpt table tr th:nth-child(2).es {width:42px;}
div.cmpt table tr input[type='checkbox'] {vertical-align:middle;}

#ayla-event-streams th:nth-child(4), 
#ayla-event-streams th:nth-child(5),
#ayla-event-streams .numEvents, #ayla-event-streams .numHBs {width:60px; text-align: right;}

.link-btn {
  color: #4682b4;
  cursor: pointer;
  font-size: 85%;
  margin-right: 12px;
}
.link-btn[aria-expanded="true"] {text-decoration: underline;}
.link-btn:hover {color: #396a93;}
.link-btns {margin-bottom: .5rem;}

div.cmpt form.steps {
  background: white; 
  padding: 6px 12px 9px 12px;
  border-radius: 5px;
  display: inline-block;
}

div.cmpt form.steps ol {margin-bottom: 0px; list-style-type: lower-alpha;}
div.cmpt td img {margin: 0 !important;}

div.cmpt label {
  font-weight: normal;
  font-size: 85%;
  color: #6b1414; /* shade of firebrick */
}

#device-details, #property-details {margin-bottom: 0px !important;}

div.cmpt pre {margin-bottom: 0px !important;}

/* BEGIN SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 25px; /* 34 */
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #595959;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px; /* 26 */
  width: 19px; /* 26 */
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {
  -webkit-transform: translateX(94px);
  -ms-transform: translateX(94px);
  transform: translateX(94px);
}

.slider.round {border-radius: 30px;}
.slider.round:before {border-radius: 50%;}
/* END SLIDER */
