#create-event-stream-form [id]:before {
  display: none;
  content: " ";
  margin-top: 0px;
  height: 0px;
  visibility: hidden;
}

table.dss-browser-table {width: 100% !important;}
table.dss-browser-table th, table.dss-browser-table td {border-collapse: collapse; vertical-align:top;}
table.dss-browser-table {border: 1px solid lightgray;}
table.dss-browser-table th {border-bottom: 1px solid lightgray;}
table.dss-browser-table td {border-top: 1px solid lightgray;}
table.dss-browser-table th, table.dss-browser-table td {padding: 3px 4px;}
table.dss-browser-table th {font-size:90%; font-weight: normal; color: black;}
table.dss-browser-table td {font-size:90%; font-weight: normal; color: gray;}
table.dss-browser-table tr.summary td {cursor: pointer;}
table.dss-browser-table tr.details td {border-color: white; padding:0px !important;}
table.dss-browser-table tr.details td pre {
  background: #333333;
  padding: 6px;
  border: none;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 85%;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  margin: 0px !important;
}
table.dss-browser-table tr th:nth-child(1) {width:24px;}
table.dss-browser-table tr th:nth-child(2) {width:42px;}

#dss-event-streams th:nth-child(4), 
#dss-event-streams th:nth-child(5),
#dss-event-streams .numEvents, #dss-event-streams .numHBs {width:60px; text-align: right;}

/* BEGIN SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 25px; /* 34 */
  margin: 6px 0px 0px 0px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px; /* 26 */
  width: 19px; /* 26 */
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before {
  -webkit-transform: translateX(94px);
  -ms-transform: translateX(94px);
  transform: translateX(94px);
}

.slider.round {border-radius: 30px;}
.slider.round:before {border-radius: 50%;}
/* END SLIDER */
