/******************************************
 
******************************************/

body {background: #ffffff;}

p, li, dd {font-size: 1.0em; font-weight: 400; line-height: 1.5em; /*text-align: justify; text-justify: inter-word;*/}

p, li, #sidenav a {color: #1a1a1a;}

h1 {font-size: 120%; margin-top: 24px; font-weight: bold; color: black;}
h2 {font-size: 110%; margin-top: 24px; font-weight: bold; color: #396a93;}
h3 {font-size: 100%; margin-top: 24px; font-weight: bold; color: maroon;}
h4 {font-size: 1.00rem;}
h5 {font-size: 1.00rem;}
h6 {font-size: 1.00rem;}

a, a:hover, a:focus {text-decoration: none;}
a {color: DodgerBlue;}
a:hover {color: #0059b3;}

strong {color: #1a1a1a;}

.wrapper {
  display: flex;
  width: 100%;
}

/******************************************
 Top Menu
******************************************/

.navbar {
  padding: 10px 10px 10px 5px;
  margin-bottom: 0px;
}

.container-fluid {padding-right: 0px; padding-left: 0px;}

@media (max-width: 768px) {
  .navbar-brand img {display:none;}
  .navbar-brand {margin: 0 auto;}
  .ml-auto, .mx-auto {margin-left: 0 !important;}
}

.last-updated {font-size: 80% !important; color: gray; margin-top: 16px;}

/******************************************
 #breadcrumbs
******************************************/

#breadcrumbs {
  height: 40px;
  line-height: 40px;
  /*position: absolute;*/
  top: 60px;
  width: 100%;
  padding: 0px 10px;
  border-bottom: 1px inset #f7ddbb;
  border-radius: 0;
  background: antiquewhite;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  position:fixed;
  z-index:100;
  font-size: 90%;
}

#breadcrumbs a {color: #404040;}
#breadcrumbs a:hover {color: red;}

@media (max-width: 768px) {
  #breadcrumbs {
    padding: 6px 6px;
  }
}

/******************************************
 #sidenav
******************************************/

#sidenav a:hover {color: #ff4d4d;}
#sidenav a.active {color: red; /*font-weight: bold;*/}

#sidenav {
  width: 250px;
  position: fixed;
  top: 100px;
  left: 0;
  height: calc(100% - 100px);
  z-index: 999;
  padding: 10px;
  border-right: 1px solid rgba(0,0,0,.1);
  /*border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
  
}

#sidenav li {
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  list-style-position:inside; 
  font-size: 95%;
}

#sidenav ul {padding-left: 0px; list-style-type: none;}


#sidenav ol {padding-left: 3px;}
#sidenav ol > li {line-height: 1.8em;}

#sidenav ul > li > a.book {font-weight: bold;}
#sidenav ul > li > a:hover {cursor: pointer;}

#sidenav ul > li > ol {padding-left: 3px; /*list-style-type: "1";*/}

#sidenav ul > li {margin-bottom: 9px;}
#sidenav ul > li > ol > li {line-height: 1.8em;}
/*
#sidenav ul > li > a.active,
#sidenav ul > li > ol > li > a.active {font-weight: bold;}
*/
/*
#sidenav.devices ul li span,
#sidenav.cloud ul li span,
#sidenav.apps ul li span {font-weight: bold;}
*/

@media (min-width: 768px) {
  #sidenavCollapse {display:none;}
}

@media (max-width: 768px) {
  #sidenav {margin-left: -250px;}
  #sidenav.active {margin-left: 0; background: whitesmoke;}
  #sidenavCollapse {display:block;}
}

#sidenav img.toggle {float: right;}
#sidenav ul > li > img:hover {cursor: pointer;}
#sidenav ul > li > img {width: 18px; display: none;}
#sidenav ul > li:hover img.toggle {display: block;}

/******************************************
 #content
******************************************/

#content {
  min-height: calc(100% - 100px);
  transition: all 0.3s;
  position: absolute;
  top: 100px;
  right: 0;
}

@media (min-width: 768px) {
  #content.page-with-sidebar {
    width: calc(100% - 250px);
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  #content.page-with-sidebar {
    width: 100%; 
    padding: 6px 6px;
  }
}

@media (min-width: 768px) {
  #content.page-with-foobar {
    width: calc(100% - 250px);
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  #content.page-with-foobar {
    width: 100%; 
    padding: 6px 6px;
  }
}

@media (min-width: 1200px) {
  #content.page-full-width {
    width: 100%;
    padding: 10px 15%;
  }
}

@media (max-width: 1200px) {
  #content.page-full-width {
    width: 100%;
    padding: 10px 10%;
  }
}

@media (max-width: 1000px) {
  #content.page-full-width {
    width: 100%;
    padding: 10px 3%;
  }
}

@media (max-width: 768px) {
  #content.page-full-width {
    width: 100%; 
    padding: 6px 6px;
  }
}

#content.active {width: 100%;}

#content li {margin-bottom: 6px;}

#content dd ul li {margin-bottom: 0px;}

#content pre {
  background: #333333;
  padding: 6px;
  line-height: 1rem;
  color: white;
  font-weight: normal;
  font-size: 80%;
  border: none;
}

#content label {font-weight: bold; font-size: 90%;}

span.a {
    display: inline-block;
    width: 180px;
   /* height: 50px; */
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
}

#content-title {padding-top: 9px;}
#content-title span {font-weight: bold; font-size: 125%;}

#content .hspace {margin-top: 28px; margin-bottom: 28px;}
/*
@media (min-width: 768px) {
  #content .img-border {padding: 12px;}
}

@media (max-width: 768px) {
  #content .img-border {padding: 12px 0px;}
}
*/
#content li pre {margin-top: 12px;}

#content dt {font-size: 100%; font-weight: bold; color: gray; margin-top: 16px;}
#content dd {margin-left: 24px;}
/*
#content iframe {
  display:block; 
  margin: 0 auto;
}
*/
#content div.card-body {background: ghostwhite;}

/******************************************
 Tiles
******************************************/

.cat-tile {
  height: 100px;
  line-height: 100px;
  font-size: 120%;
  margin-bottom: 20px;
  color: #404040;
}

.cat-tile2 {margin-bottom: 24px;}

.book-tile {
  height: 120px;
  line-height: 120px;
  font-size: 160%;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}

.background-ocean {background-image: url("/assets/images/ocean.jpg");}
.background-forest-green {background-image: url("/assets/images/forest-green.jpg");}
.background-leather {background-image: url("/assets/images/leather.jpg");}

.book-tile img {margin-right: 12px; height: 75px;}

/******************************************
 tables
******************************************/

#content table {
  width: auto;
}

#content table tr, #content table th, #content table td {
}

#content table, #content th, #content td {
  border-collapse: collapse;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 6px 6px;
  vertical-align:top;
}

/* #content table {border: 1px solid steelblue;} */
#content th {border: 1px solid steelblue;}
#content td {border: 1px solid #c8daea;}

#content table th {background: steelblue; font-weight: normal; text-align: left; color: white;}

#content .note {padding: 12px; margin: 24px 0px; background: azure;}

@media (max-width: 768px) {
  #content table {
    font-size: 92%;
  }
}

.normal-table {font-size: 95%; color: black;}

.key-value-table {font-size: 90%; line-height: 12px; }
.key-value-table, .key-value-table th, .key-value-table td {border: 1px gainsboro solid !important;}
.key-value-table tr th {background: white !important; color: black !important; font-weight: bold !important;}
.key-value-table tr td {color: black;}
.vertical-middle tr td {vertical-align: middle !important;}

/******************************************
 img
******************************************/

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

#content figure.figure {margin: 30px 0px;}

/* #content div.image {margin: 30px 30px;} */

/******************************************
 Home Page
******************************************/

@media (min-width: 768px) {
  #home-small {display:none;}
}

@media (max-width: 768px) {
  #home-big {display:none;}
}

/******************************************
 Look at again
******************************************/

.nav-icon {padding-right: 3px; padding-bottom: 5px; width: 20px;}

.mr-sm-2, .mx-sm-2 {margin-right: 0rem!important;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#login-form, #logout-form {padding: 1.0rem 1.0rem 0 1.0rem;}
#login-required {font-size: 85%;}
#controls label {font-weight: bold; font-size:85%;}
.terminal-font {font-size:95%; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;}
.custom-control-label {font-weight: normal !important;}
#sidenav label {margin-bottom: .2rem;}
.tab-pane {padding-top: 9px;}
.tab-content label {margin-top: 12px; margin-bottom: 3px;}

/* BEGIN SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(196px);
  -ms-transform: translateX(196px);
  transform: translateX(196px);
}

.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
/* END SLIDER */



.collapse-label {margin: 12px 0 3px 0;}
.collapse-label a {font-size:85%; }
#set-property-value a {font-size:85%;}
#save-property-value a {font-size:85%;}
/*#devices-page input:disabled {border-color:#0d0d0d; background: #0d0d0d; color: white;}*/
#devices-page input:disabled {border-color:#595959; background:#595959; color: white;}
/*.sidenav-widget {background:white;padding:9px 6px 0 6px;}*/
.sidenav-widget label {color:steelblue; !important;font-weight:normal !important;}
.form-group {margin-bottom: .5rem;}

#toc-list {margin-top: 6px;}
#toc-list li {font-size: 90%;}

.target {position:relative;}
.target a {position:absolute; top:-110px;}

@media (min-width: 960px) {
  .margin-left {margin-left: 20px;}
}
@media (max-width: 960px) {
  .margin-left {margin-left: 0px;}
}

.under-construction {color: gray;}
.under-construction a {color: gray;}

.light {width:fit-content !important; background:#f8f8ff !important; color:black !important; border: 1px solid #f8f8ff !important;}

@media (min-width: 960px) {
  .img-margins {margin: 12px 0 20px 16px;}
  .img-top-bottom {margin-top: 12px; margin-bottom: 20px;}
}
@media (max-width: 960px) {
  .img-margins {margin: 6px 0 12px 0px;}
  .img-top-bottom {margin-top: 6px; margin-bottom: 12px;}
}

ol {margin-top: 6px;}
.reduce {font-size: 90%;}

code {color: #b36200;}

#content.page-with-foobar li img {margin-top: 18px; margin-bottom: 18px;}

.collapsible {cursor: pointer;}
