pre {
  width:fit-content !important; 
  background:#f8f8ff !important; 
  color:black !important; 
  border: 1px solid #f8f8ff !important;
}

table, th, td {
  border-collapse: collapse;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px gainsboro solid !important;
}

th, td {
  padding: 6px 6px;
  vertical-align:top; 
  font-size: 90%; 
  line-height: 12px;
}

th {
  background: white !important; color: black !important; font-weight: bold !important;
}

td {color: black;}

@media (max-width: 768px) {
  table {
    font-size: 92%;
  }
}

img {margin-top: 12px; margin-bottom: 20px;}

@media (min-width: 960px) {
  .myindent {margin-left: 16px;}
}
@media (max-width: 960px) {
  .myindent {margin-left: 0px;}
}

ol {margin-top: 6px;}

